In [29]:
import pandas as pd
import statsmodels.formula.api as smf
from scipy.stats.mstats import winsorize
import re
import numpy as np

In [3]:
df = pd.read_csv('../data/full_survey_data.csv')

/var/folders/b3/glj_22g92pl25nkdvjvxnzz00000gn/T/ipykernel_34069/4096187165.py:1: DtypeWarning: Columns (10,11,12,15,16,17,18,19,20,21,22,24,27,37,40,41,42,43,44,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,69,74,75,76,78,88,91,94,95,104,113,114,115,116,118,121,122,123,124,125,132,135,137,138,141,142,151,160,161,162,163,165,168,169,170,171,172,179,182,184,185,188,189,198,207,208,209,210,212,215,216,217,218,219,226,229,231,232,236,245,254,255,256,257,259,262,263,264,265,266,273,276,278,279,283,292,301,302,303,304,306,309,310,312,313,320,325,326,330,339,348,349,350,351,353,356,357,359,360,367,372,373,377,386,395,396,397,398,400,403,404,406,407,414,419,420,424,433,443,444,445,446,447,448,450,451,452,453,454,455,456,458,459,460,461,462,463,464,465,466,467,469,470,471,472,473,474,475,476,478,479,480,481,482,500,501,502,508,510,515,516,522,524,525,526,533,538,547,556,561,565,566,567,574,580,581,582,591,600,603,607,608,609,616,620,624,633,680,681,682,687,688,694,696,697,698,705,710,719,728,733,738,739,746,752,754,763,772,775,779,780,781,788,792,796,805,814,829,849,850,852,854,859,860,866,868,869,870,877,882,891,900,905,910,911,918,924,926,935,944,947,952,953,960,964,968,977,987,989,991,998,1003,1012,1021,1022,1024,1026,1031,1032,1040,1041,1042,1063,1072,1073,1074,1076,1077,1079,1080,1082,1085,1087,1089,1090,1092,1094,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1119,1124,1125,1132,1136,1140,1149,1159,1161,1184,1193,1194,1196,1197,1198,1203,1204,1224,1288,1291,1296,1297,1304,1308,1312,1321,1331,1333,1347,1365,1366,1367,1369,1370,1371,1373,1377,1379,1380,1383,1384,1385,1387,1389,1390,1393,1396,1398,1399,1400,1401,1404,1405,1406,1407,1408,1409,1410,1412,1413,1414,1415,1416,1417,1422,1423,1424,1425,1426,1431,1432,1433,1434,1435,1440,1444,1445,1446,1447,1448,1449,1452,1453,1458,1461,1462,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1592,1593,1594,1595,1597) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/full_survey_data.csv')

In [4]:
#  x ~ z
# creating the z variable and we only consider animals that potentially use crop residue as feed
# Step 1: Select relevant columns
name_cols = [f'livestock_name_{i}' for i in range(1, 6)]
died_cols = [f'livestock_died_{i}' for i in range(1, 6)]

# Step 2: Melt the livestock names and deaths
names_long = df.melt(id_vars='id_unique', value_vars=name_cols, 
                     var_name='animal_slot', value_name='livestock_name')

died_long = df.melt(id_vars='id_unique', value_vars=died_cols, 
                    var_name='animal_slot', value_name='livestock_died')

# Step 3: Make sure they align by extracting index number
names_long['slot'] = names_long['animal_slot'].str.extract(r'(\d+)').astype(int)
died_long['slot'] = died_long['animal_slot'].str.extract(r'(\d+)').astype(int)

# Step 4: Merge the two long DataFrames
long_df = pd.merge(
    names_long[['id_unique', 'slot', 'livestock_name']],
    died_long[['id_unique', 'slot', 'livestock_died']],
    on=['id_unique', 'slot']
)

# Optional: drop rows where animal name is missing
long_df = long_df.dropna(subset=['livestock_name']).reset_index(drop=True)

# Result: Each row is (id_unique, livestock_name, livestock_died)
print(long_df.head())

death_df = long_df[long_df.livestock_died.notna()]

         id_unique  slot livestock_name  livestock_died
0  bf_adn_2019_1_1     1          sheep             0.0
1  bf_adn_2019_2_1     1         cattle             0.0
2  bf_adn_2019_3_1     1           pigs             3.0
3  bf_adn_2019_4_1     1         cattle             0.0
4  bf_adn_2019_5_1     1         cattle             0.0

In [6]:
death_df

               id_unique  slot  livestock_name  livestock_died
0        bf_adn_2019_1_1     1           sheep             0.0
1        bf_adn_2019_2_1     1          cattle             0.0
2        bf_adn_2019_3_1     1            pigs             3.0
3        bf_adn_2019_4_1     1          cattle             0.0
4        bf_adn_2019_5_1     1          cattle             0.0
...                  ...   ...             ...             ...
81614  tz_glv_2017_522_1     5            pigs             0.0
81615  tz_glv_2017_562_1     5  donkeys_horses             0.0
81616  tz_glv_2017_889_1     5         chicken             3.0
81617  tz_glv_2017_892_1     5         rabbits             0.0
81618  tz_glv_2017_904_1     5         chicken            50.0

[61712 rows x 4 columns]

In [7]:
death_df.livestock_died.describe()

count    6.171200e+04
mean     7.112730e+01
std      1.610642e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.000000e+00
max      4.000000e+06
Name: livestock_died, dtype: float64

In [8]:
# creating herd_size and renaming livestock head columns to be more succint
# ['cattle', 'chicken', 'goats', 'sheep', 'donkeys_horses', 'buffalo', 'pigs']
livestock_heads_cols = [
    'livestock_heads_sheep',
    'livestock_heads_cattle',
    'livestock_heads_pigs',
    'livestock_heads_goats',
    'livestock_heads_chicken',
    'livestock_heads_buffalo',
    'livestock_heads_donkeys_horses'
]

# ok sum of heads to get herd_size
herd_df = df[livestock_heads_cols + ['id_unique']].copy()

In [9]:
herd_df

,livestock_heads_sheep,livestock_heads_cattle,livestock_heads_pigs,livestock_heads_goats,livestock_heads_chicken,livestock_heads_buffalo,livestock_heads_donkeys_horses,id_unique
0,3.0,NaN,NaN,6.0,10.0,NaN,NaN,bf_adn_2019_1_1
1,3.0,2.0,NaN,5.0,10.0,NaN,NaN,bf_adn_2019_2_1
2,NaN,NaN,1.0,NaN,NaN,NaN,NaN,bf_adn_2019_3_1
3,4.0,4.0,5.0,3.0,23.0,NaN,NaN,bf_adn_2019_4_1
4,4.0,2.0,NaN,3.0,2.0,NaN,NaN,bf_adn_2019_5_1
...,...,...,...,...,...,...,...,...
54868,0.0,5.0,0.0,0.0,8.0,NaN,0.0,zm_scn_2017_606_1
54869,0.0,12.0,0.0,4.0,0.0,NaN,0.0,zm_scn_2017_607_1
54870,0.0,7.0,0.0,5.0,8.0,NaN,0.0,zm_scn_2017_608_1
54871,0.0,1.0,0.0,0.0,0.0,NaN,0.0,zm_scn_2017_609_1
54872,0.0,2.0,0.0,0.0,4.0,NaN,0.0,zm_scn_2017_610_1

In [10]:
herd_df = herd_df.rename(columns=lambda x: x.replace("livestock_heads_", "") if x.startswith("livestock_heads_") else x)
herd_df

,sheep,cattle,pigs,goats,chicken,buffalo,donkeys_horses,id_unique
0,3.0,NaN,NaN,6.0,10.0,NaN,NaN,bf_adn_2019_1_1
1,3.0,2.0,NaN,5.0,10.0,NaN,NaN,bf_adn_2019_2_1
2,NaN,NaN,1.0,NaN,NaN,NaN,NaN,bf_adn_2019_3_1
3,4.0,4.0,5.0,3.0,23.0,NaN,NaN,bf_adn_2019_4_1
4,4.0,2.0,NaN,3.0,2.0,NaN,NaN,bf_adn_2019_5_1
...,...,...,...,...,...,...,...,...
54868,0.0,5.0,0.0,0.0,8.0,NaN,0.0,zm_scn_2017_606_1
54869,0.0,12.0,0.0,4.0,0.0,NaN,0.0,zm_scn_2017_607_1
54870,0.0,7.0,0.0,5.0,8.0,NaN,0.0,zm_scn_2017_608_1
54871,0.0,1.0,0.0,0.0,0.0,NaN,0.0,zm_scn_2017_609_1
54872,0.0,2.0,0.0,0.0,4.0,NaN,0.0,zm_scn_2017_610_1

In [11]:
herd_df.describe()

,sheep,cattle,pigs,goats,chicken,buffalo,donkeys_horses
count,16808.000000,25844.000000,12974.000000,21430.000000,31787.000000,1064.000000,7057.000000
mean,6.968646,6.315934,2.426083,7.173448,20.912165,1.808271,1.750744
std,23.690625,26.058973,11.312464,20.028181,297.970807,7.503332,1.540853
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,1.000000,3.000000,0.000000,1.000000
50%,3.000000,2.000000,0.000000,3.000000,9.000000,1.000000,1.000000
75%,8.000000,4.000000,2.000000,7.000000,20.000000,2.000000,2.000000
max,1822.000000,1204.000000,700.000000,1000.000000,50000.000000,200.000000,60.000000

In [ ]:
# Pivot to wide format
wide_death_df = (
    death_df.pivot_table(
        index="id_unique",                 # unique household ID
        columns="livestock_name",          # each animal becomes a column
        values="livestock_died",           # fill values with deaths
        aggfunc="sum"                      # if duplicates exist, sum them
    )
    .reset_index()
)

wide_death_df
# Flatten MultiIndex columns if needed
wide_df.columns.name = None

livestock_name,id_unique,alpaca,bees,buffalo,camel,cats,cattle,chicken,crocodile,dogs,...,guinea_pigs,llama,mice,otherpoultry,oxen,pigs,rabbits,rats,sheep,small_mammals
0,bf_adn_2019_10_1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
1,bf_adn_2019_11_1,NaN,NaN,NaN,NaN,NaN,0.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2,bf_adn_2019_12_1,NaN,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,bf_adn_2019_13_1,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,bf_adn_2019_14_1,NaN,NaN,NaN,NaN,NaN,0.0,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33362,zm_scn_2017_95_1,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33363,zm_scn_2017_96_1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33364,zm_scn_2017_98_1,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33365,zm_scn_2017_99_1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33366,zm_scn_2017_9_1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:

wide_death_df.columns.name = None
wide_death_df

,id_unique,alpaca,bees,buffalo,camel,cats,cattle,chicken,crocodile,dogs,...,guinea_pigs,llama,mice,otherpoultry,oxen,pigs,rabbits,rats,sheep,small_mammals
0,bf_adn_2019_10_1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
1,bf_adn_2019_11_1,NaN,NaN,NaN,NaN,NaN,0.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2,bf_adn_2019_12_1,NaN,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,bf_adn_2019_13_1,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,bf_adn_2019_14_1,NaN,NaN,NaN,NaN,NaN,0.0,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33362,zm_scn_2017_95_1,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33363,zm_scn_2017_96_1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33364,zm_scn_2017_98_1,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33365,zm_scn_2017_99_1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33366,zm_scn_2017_9_1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
keep_cols = ["id_unique", "cattle", "chicken", "goats", "sheep", "donkeys_horses", "buffalo", "pigs"]

wide_death_df = wide_death_df[keep_cols]
wide_death_df

,id_unique,cattle,chicken,goats,sheep,donkeys_horses,buffalo,pigs
0,bf_adn_2019_10_1,1.0,NaN,NaN,2.0,NaN,NaN,NaN
1,bf_adn_2019_11_1,0.0,4.0,0.0,1.0,NaN,NaN,NaN
2,bf_adn_2019_12_1,0.0,1.0,NaN,NaN,NaN,NaN,0.0
3,bf_adn_2019_13_1,NaN,3.0,0.0,NaN,NaN,NaN,NaN
4,bf_adn_2019_14_1,0.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
33362,zm_scn_2017_95_1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
33363,zm_scn_2017_96_1,1.0,NaN,NaN,NaN,NaN,NaN,NaN
33364,zm_scn_2017_98_1,0.0,NaN,0.0,NaN,NaN,NaN,NaN
33365,zm_scn_2017_99_1,1.0,NaN,NaN,NaN,NaN,NaN,NaN
33366,zm_scn_2017_9_1,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [19]:
# Add '_deaths' to every animal column name except 'id_unique'
animal_cols = [col for col in wide_death_df.columns if col != 'id_unique']
wide_death_df = wide_death_df.rename(columns={col: f"{col}_deaths" for col in animal_cols})
wide_death_df.head()

,id_unique,cattle_size_deaths,chicken_size_deaths,goats_size_deaths,sheep_size_deaths,donkeys_horses_size_deaths,buffalo_size_deaths,pigs_size_deaths
0,bf_adn_2019_10_1,1.0,NaN,NaN,2.0,NaN,NaN,NaN
1,bf_adn_2019_11_1,0.0,4.0,0.0,1.0,NaN,NaN,NaN
2,bf_adn_2019_12_1,0.0,1.0,NaN,NaN,NaN,NaN,0.0
3,bf_adn_2019_13_1,NaN,3.0,0.0,NaN,NaN,NaN,NaN
4,bf_adn_2019_14_1,0.0,7.0,NaN,NaN,NaN,NaN,NaN

In [18]:
# Add '_size' to every animal column name except 'id_unique' in herd_df
animal_cols_herd = [col for col in herd_df.columns if col != 'id_unique']
herd_df = herd_df.rename(columns={col: f"{col}_size" for col in animal_cols_herd})
herd_df.head()

,sheep_size,cattle_size,pigs_size,goats_size,chicken_size,buffalo_size,donkeys_horses_size,id_unique
0,3.0,NaN,NaN,6.0,10.0,NaN,NaN,bf_adn_2019_1_1
1,3.0,2.0,NaN,5.0,10.0,NaN,NaN,bf_adn_2019_2_1
2,NaN,NaN,1.0,NaN,NaN,NaN,NaN,bf_adn_2019_3_1
3,4.0,4.0,5.0,3.0,23.0,NaN,NaN,bf_adn_2019_4_1
4,4.0,2.0,NaN,3.0,2.0,NaN,NaN,bf_adn_2019_5_1

In [20]:
merged_df = pd.merge(wide_death_df, herd_df, on='id_unique', how='inner')
merged_df.head()

,id_unique,cattle_size_deaths,chicken_size_deaths,goats_size_deaths,sheep_size_deaths,donkeys_horses_size_deaths,buffalo_size_deaths,pigs_size_deaths,sheep_size,cattle_size,pigs_size,goats_size,chicken_size,buffalo_size,donkeys_horses_size
0,bf_adn_2019_10_1,1.0,NaN,NaN,2.0,NaN,NaN,NaN,5.0,4.0,NaN,6.0,10.0,NaN,NaN
1,bf_adn_2019_11_1,0.0,4.0,0.0,1.0,NaN,NaN,NaN,4.0,1.0,NaN,1.0,4.0,NaN,NaN
2,bf_adn_2019_12_1,0.0,1.0,NaN,NaN,NaN,NaN,0.0,NaN,1.0,2.0,NaN,3.0,NaN,NaN
3,bf_adn_2019_13_1,NaN,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,6.0,NaN,NaN
4,bf_adn_2019_14_1,0.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,60.0,NaN,NaN

In [22]:
death_cols = [col for col in merged_df.columns if col.endswith('_size_deaths')]
rename_dict = {col: col.replace('_size_deaths', '_deaths') for col in death_cols}
merged_df = merged_df.rename(columns=rename_dict)
merged_df.head()

,id_unique,cattle_deaths,chicken_deaths,goats_deaths,sheep_deaths,donkeys_horses_deaths,buffalo_deaths,pigs_deaths,sheep_size,cattle_size,pigs_size,goats_size,chicken_size,buffalo_size,donkeys_horses_size
0,bf_adn_2019_10_1,1.0,NaN,NaN,2.0,NaN,NaN,NaN,5.0,4.0,NaN,6.0,10.0,NaN,NaN
1,bf_adn_2019_11_1,0.0,4.0,0.0,1.0,NaN,NaN,NaN,4.0,1.0,NaN,1.0,4.0,NaN,NaN
2,bf_adn_2019_12_1,0.0,1.0,NaN,NaN,NaN,NaN,0.0,NaN,1.0,2.0,NaN,3.0,NaN,NaN
3,bf_adn_2019_13_1,NaN,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,6.0,NaN,NaN
4,bf_adn_2019_14_1,0.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,60.0,NaN,NaN

In [23]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33367 entries, 0 to 33366
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_unique              33367 non-null  object
 1   cattle_deaths          19387 non-null  float64
 2   chicken_deaths         11927 non-null  float64
 3   goats_deaths           11015 non-null  float64
 4   sheep_deaths           7845 non-null   float64
 5   donkeys_horses_deaths  4189 non-null   float64
 6   buffalo_deaths         509 non-null    float64
 7   pigs_deaths            4437 non-null   float64
 8   sheep_size             9845 non-null   float64
 9   cattle_size            18427 non-null  float64
 10  pigs_size              6731 non-null   float64
 11  goats_size             13366 non-null  float64
 12  chicken_size           21368 non-null  float64
 13  buffalo_size           444 non-null    float64
 14  donkeys_horses_size    5727 non-null   float64
dtypes: float64(14), object(1)
memory usage: 3.8+ MB

In [24]:
merged_df.describe()

,cattle_deaths,chicken_deaths,goats_deaths,sheep_deaths,donkeys_horses_deaths,buffalo_deaths,pigs_deaths,sheep_size,cattle_size,pigs_size,goats_size,chicken_size,buffalo_size,donkeys_horses_size
count,1.938700e+04,11927.000000,11015.000000,7845.000000,4189.000000,509.000000,4437.000000,9845.000000,18427.000000,6731.000000,13366.000000,21368.000000,444.000000,5727.000000
mean,2.112585e+02,8.882452,5.071630,11.881963,6.026737,0.078585,1.200361,9.720569,7.360341,3.811172,8.733054,22.201703,2.790541,1.800943
std,2.873030e+04,75.803785,381.144741,753.120721,313.550646,0.373472,5.303861,30.150712,30.423860,12.615593,24.454992,112.619663,3.264668,1.608193
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,1.000000,2.000000,5.000000,1.000000,1.000000
50%,0.000000e+00,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2.000000,2.000000,4.000000,10.000000,2.000000,1.000000
75%,0.000000e+00,8.000000,2.000000,2.000000,0.000000,0.000000,1.000000,10.000000,4.000000,4.000000,8.000000,20.000000,3.000000,2.000000
max,4.000000e+06,7096.000000,40000.000000,65000.000000,20000.000000,4.000000,240.000000,1822.000000,1204.000000,600.000000,1000.000000,10000.000000,40.000000,60.000000

In [25]:
#winsorize chicken_size, donkeys_horses_deaths, sheep_deaths, goats_deaths, chicken_deaths, cattle_deaths
test_df = merged_df.copy()

cols_to_winsorize = [
    "chicken_size",
    "donkeys_horses_deaths",
    "sheep_deaths",
    "goats_deaths",
    "chicken_deaths",
    "cattle_deaths"
]

for col in cols_to_winsorize:
    if col in test_df.columns:
        test_df[col] = winsorize(test_df[col], limits=[0, 0.05])

In [26]:
test_df.describe()

/Users/nishantshrestha/Library/Python/3.9/lib/python/site-packages/numpy/lib/function_base.py:4824: UserWarning: Warning: 'partition' will ignore the 'mask' of the MaskedArray.
  arr.partition(
/Users/nishantshrestha/Library/Python/3.9/lib/python/site-packages/numpy/lib/function_base.py:4824: UserWarning: Warning: 'partition' will ignore the 'mask' of the MaskedArray.
  arr.partition(
/Users/nishantshrestha/Library/Python/3.9/lib/python/site-packages/numpy/lib/function_base.py:4824: UserWarning: Warning: 'partition' will ignore the 'mask' of the MaskedArray.
  arr.partition(
/Users/nishantshrestha/Library/Python/3.9/lib/python/site-packages/numpy/lib/function_base.py:4824: UserWarning: Warning: 'partition' will ignore the 'mask' of the MaskedArray.
  arr.partition(
/Users/nishantshrestha/Library/Python/3.9/lib/python/site-packages/numpy/lib/function_base.py:4824: UserWarning: Warning: 'partition' will ignore the 'mask' of the MaskedArray.
  arr.partition(
/Users/nishantshrestha/Library/Python/3.9/lib/python/site-packages/numpy/lib/function_base.py:4824: UserWarning: Warning: 'partition' will ignore the 'mask' of the MaskedArray.
  arr.partition(
/Users/nishantshrestha/Library/Python/3.9/lib/python/site-packages/numpy/lib/function_base.py:4824: UserWarning: Warning: 'partition' will ignore the 'mask' of the MaskedArray.
  arr.partition(
/Users/nishantshrestha/Library/Python/3.9/lib/python/site-packages/numpy/lib/function_base.py:4824: UserWarning: Warning: 'partition' will ignore the 'mask' of the MaskedArray.
  arr.partition(
/Users/nishantshrestha/Library/Python/3.9/lib/python/site-packages/numpy/lib/function_base.py:4824: UserWarning: Warning: 'partition' will ignore the 'mask' of the MaskedArray.
  arr.partition(
/Users/nishantshrestha/Library/Python/3.9/lib/python/site-packages/numpy/lib/function_base.py:4824: UserWarning: Warning: 'partition' will ignore the 'mask' of the MaskedArray.
  arr.partition(
/Users/nishantshrestha/Library/Python/3.9/lib/python/site-packages/numpy/lib/function_base.py:4824: UserWarning: Warning: 'partition' will ignore the 'mask' of the MaskedArray.
  arr.partition(
/Users/nishantshrestha/Library/Python/3.9/lib/python/site-packages/numpy/lib/function_base.py:4824: UserWarning: Warning: 'partition' will ignore the 'mask' of the MaskedArray.
  arr.partition(
/Users/nishantshrestha/Library/Python/3.9/lib/python/site-packages/numpy/lib/function_base.py:4824: UserWarning: Warning: 'partition' will ignore the 'mask' of the MaskedArray.
  arr.partition(
/Users/nishantshrestha/Library/Python/3.9/lib/python/site-packages/numpy/lib/function_base.py:4824: UserWarning: Warning: 'partition' will ignore the 'mask' of the MaskedArray.
  arr.partition(

,cattle_deaths,chicken_deaths,goats_deaths,sheep_deaths,donkeys_horses_deaths,buffalo_deaths,pigs_deaths,sheep_size,cattle_size,pigs_size,goats_size,chicken_size,buffalo_size,donkeys_horses_size
count,1.938700e+04,11927.000000,11015.000000,7845.000000,4189.000000,509.000000,4437.000000,9845.000000,18427.000000,6731.000000,13366.000000,21368.000000,444.000000,5727.000000
mean,2.112585e+02,8.882452,5.071630,11.881963,6.026737,0.078585,1.200361,9.720569,7.360341,3.811172,8.733054,22.201703,2.790541,1.800943
std,2.873030e+04,75.803785,381.144741,753.120721,313.550646,0.373472,5.303861,30.150712,30.423860,12.615593,24.454992,112.619663,3.264668,1.608193
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,1.000000,2.000000,5.000000,1.000000,1.000000
50%,0.000000e+00,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2.000000,2.000000,4.000000,10.000000,2.000000,1.000000
75%,0.000000e+00,8.000000,2.000000,2.000000,0.000000,0.000000,1.000000,10.000000,4.000000,4.000000,8.000000,20.000000,3.000000,2.000000
max,4.000000e+06,7096.000000,40000.000000,65000.000000,20000.000000,4.000000,240.000000,1822.000000,1204.000000,600.000000,1000.000000,10000.000000,40.000000,60.000000

,id_unique,cattle_deaths,chicken_deaths,goats_deaths,sheep_deaths,donkeys_horses_deaths,buffalo_deaths,pigs_deaths,sheep_size,cattle_size,pigs_size,goats_size,chicken_size,buffalo_size,donkeys_horses_size
0,bf_adn_2019_10_1,1.0,NaN,NaN,2.0,NaN,NaN,NaN,5.0,4.0,NaN,6.0,10.0,NaN,NaN
1,bf_adn_2019_11_1,0.0,4.0,0.0,1.0,NaN,NaN,NaN,4.0,1.0,NaN,1.0,4.0,NaN,NaN
2,bf_adn_2019_12_1,0.0,1.0,NaN,NaN,NaN,NaN,0.0,NaN,1.0,2.0,NaN,3.0,NaN,NaN
3,bf_adn_2019_13_1,NaN,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,6.0,NaN,NaN
4,bf_adn_2019_14_1,0.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,60.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33362,zm_scn_2017_95_1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,6.0,0.0,0.0,0.0,NaN,0.0
33363,zm_scn_2017_96_1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5.0,0.0,0.0,18.0,NaN,0.0
33364,zm_scn_2017_98_1,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,6.0,0.0,9.0,13.0,NaN,0.0
33365,zm_scn_2017_99_1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.0,0.0,0.0,6.0,NaN,0.0
33366,zm_scn_2017_9_1,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,5.0,8.0,NaN,0.0

In [50]:

test_df = merged_df.copy()

cols_to_winsorize = [
    "chicken_size",
    "donkeys_horses_deaths",
    "sheep_deaths",
    "goats_deaths",
    "chicken_deaths",
    "cattle_deaths"
]

for col in cols_to_winsorize:
    if col in test_df.columns:
        # Copy column
        series = test_df[col].copy()
        mask = series.notna()

        # Pick limit depending on column name
        if "_deaths" in col:
            limit = [0, 0.0008]   # cap top 0.08%
        else:
            limit = [0, 0.05]   # cap top 5%

        # Winsorize non-missing values
        winsorized = winsorize(series[mask].to_numpy(), limits=limit)

        # Assign back
        test_df.loc[mask, col] = winsorized

In [51]:
test_df.describe()

,cattle_deaths,chicken_deaths,goats_deaths,sheep_deaths,donkeys_horses_deaths,buffalo_deaths,pigs_deaths,sheep_size,cattle_size,pigs_size,goats_size,chicken_size,buffalo_size,donkeys_horses_size
count,19387.00000,11927.000000,11015.000000,7845.000000,4189.000000,509.000000,4437.000000,9845.000000,18427.000000,6731.000000,13366.000000,21368.000000,444.000000,5727.000000
mean,0.81663,7.848998,1.411711,1.677757,0.139651,0.078585,1.200361,9.720569,7.360341,3.811172,8.733054,14.745601,2.790541,1.800943
std,5.07181,22.395267,4.136537,3.774788,0.625643,0.373472,5.303861,30.150712,30.423860,12.615593,24.454992,14.232939,3.264668,1.608193
min,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,1.000000,2.000000,5.000000,1.000000,1.000000
50%,0.00000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2.000000,2.000000,4.000000,10.000000,2.000000,1.000000
75%,0.00000,8.000000,2.000000,2.000000,0.000000,0.000000,1.000000,10.000000,4.000000,4.000000,8.000000,20.000000,3.000000,2.000000
max,114.00000,430.000000,80.000000,50.000000,13.000000,4.000000,240.000000,1822.000000,1204.000000,600.000000,1000.000000,53.000000,40.000000,60.000000

In [52]:
#  Year
test_df = test_df.merge(
    df[["id_unique", "year"]],
    on="id_unique",
    how="left"
)

# country
test_df = test_df.merge(
    df[["id_unique", "country"]],
    on="id_unique",
    how="left"
)

test_df.head()

,id_unique,cattle_deaths,chicken_deaths,goats_deaths,sheep_deaths,donkeys_horses_deaths,buffalo_deaths,pigs_deaths,sheep_size,cattle_size,pigs_size,goats_size,chicken_size,buffalo_size,donkeys_horses_size,year,country
0,bf_adn_2019_10_1,1.0,NaN,NaN,2.0,NaN,NaN,NaN,5.0,4.0,NaN,6.0,10.0,NaN,NaN,2019,burkina_faso
1,bf_adn_2019_11_1,0.0,4.0,0.0,1.0,NaN,NaN,NaN,4.0,1.0,NaN,1.0,4.0,NaN,NaN,2019,burkina_faso
2,bf_adn_2019_12_1,0.0,1.0,NaN,NaN,NaN,NaN,0.0,NaN,1.0,2.0,NaN,3.0,NaN,NaN,2019,burkina_faso
3,bf_adn_2019_13_1,NaN,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,6.0,NaN,NaN,2019,burkina_faso
4,bf_adn_2019_14_1,0.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,53.0,NaN,NaN,2019,burkina_faso

In [53]:
test_df.describe()

,cattle_deaths,chicken_deaths,goats_deaths,sheep_deaths,donkeys_horses_deaths,buffalo_deaths,pigs_deaths,sheep_size,cattle_size,pigs_size,goats_size,chicken_size,buffalo_size,donkeys_horses_size,year
count,19387.00000,11927.000000,11015.000000,7845.000000,4189.000000,509.000000,4437.000000,9845.000000,18427.000000,6731.000000,13366.000000,21368.000000,444.000000,5727.000000,33367.000000
mean,0.81663,7.848998,1.411711,1.677757,0.139651,0.078585,1.200361,9.720569,7.360341,3.811172,8.733054,14.745601,2.790541,1.800943,2019.612581
std,5.07181,22.395267,4.136537,3.774788,0.625643,0.373472,5.303861,30.150712,30.423860,12.615593,24.454992,14.232939,3.264668,1.608193,1.698316
min,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015.000000
25%,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,1.000000,2.000000,5.000000,1.000000,1.000000,2018.000000
50%,0.00000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2.000000,2.000000,4.000000,10.000000,2.000000,1.000000,2020.000000
75%,0.00000,8.000000,2.000000,2.000000,0.000000,0.000000,1.000000,10.000000,4.000000,4.000000,8.000000,20.000000,3.000000,2.000000,2021.000000
max,114.00000,430.000000,80.000000,50.000000,13.000000,4.000000,240.000000,1822.000000,1204.000000,600.000000,1000.000000,53.000000,40.000000,60.000000,2023.000000

In [75]:
import statsmodels.formula.api as smf

animals = ["cattle", "chicken", "goats", "sheep", "donkeys_horses", "buffalo", "pigs"]

for animal in animals:
    size_col = f"{animal}_size"
    deaths_col = f"{animal}_deaths"
    
    print(f"\n--- {animal.capitalize()} Model with Year & Country FEs ---")
    formula = f"{size_col} ~ {deaths_col} + C(year) + C(country)"
    model = smf.ols(formula=formula, data=test_df).fit()
    print(model.summary())

--- Cattle Model with Year & Country FEs ---
                            OLS Regression Results
==============================================================================
Dep. Variable:            cattle_size   R-squared:                       0.260
Model:                            OLS   Adj. R-squared:                  0.258
Method:                 Least Squares   F-statistic:                     157.7
Date:                Thu, 18 Sep 2025   Prob (F-statistic):               0.00
Time:                        21:47:18   Log-Likelihood:                -78830.
No. Observations:               16660   AIC:                         1.577e+05
Df Residuals:                   16622   BIC:                         1.580e+05
Df Model:                          37
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                       9.2799     14.568      0.637      0.524     -19.276      37.835
C(year)[T.2017]                22.6520     14.362      1.577      0.115      -5.499      50.803
C(year)[T.2018]                 5.0062     14.354      0.349      0.727     -23.129      33.141
C(year)[T.2019]                 6.6227     14.357      0.461      0.645     -21.518      34.763
C(year)[T.2020]                 8.7464     14.350      0.609      0.542     -19.382      36.875
C(year)[T.2021]                -1.4965     14.356     -0.104      0.917     -29.636      26.643
C(year)[T.2022]                 5.3665     14.323      0.375      0.708     -22.709      33.442
C(year)[T.2023]                13.7049     14.579      0.940      0.347     -14.871      42.281
C(country)[T.burkina_faso]     -6.7824      2.593     -2.616      0.009     -11.865      -1.700
C(country)[T.burundi]         -13.4163      2.776     -4.833      0.000     -18.857      -7.976
C(country)[T.cambodia]        -11.0694      2.968     -3.729      0.000     -16.888      -5.251
C(country)[T.comoros]         -10.8801      3.147     -3.457      0.001     -17.049      -4.712
C(country)[T.cote d'ivoire]   -13.9712     11.497     -1.215      0.224     -36.506       8.564
C(country)[T.drc]             -21.6614      3.399     -6.372      0.000     -28.324     -14.998
C(country)[T.ecuador]          -9.5009      3.357     -2.830      0.005     -16.081      -2.921
C(country)[T.el_salvador]      -2.8452     24.293     -0.117      0.907     -50.462      44.772
C(country)[T.ethiopia]        -16.0446      2.634     -6.092      0.000     -21.207     -10.882
C(country)[T.ghana]            -6.9418      2.874     -2.415      0.016     -12.576      -1.308
C(country)[T.guatemala]        -1.6464     12.580     -0.131      0.896     -26.304      23.011
C(country)[T.honduras]         -4.6132     17.211     -0.268      0.789     -38.349      29.122
C(country)[T.india]           -12.5056      2.919     -4.284      0.000     -18.228      -6.784
C(country)[T.kenya]           -12.2920      2.807     -4.379      0.000     -17.794      -6.790
C(country)[T.malawi]          -13.6949      5.314     -2.577      0.010     -24.110      -3.280
C(country)[T.mali]            -11.8984      2.687     -4.428      0.000     -17.165      -6.632
C(country)[T.morocco]         -14.5509      4.476     -3.251      0.001     -23.324      -5.778
C(country)[T.nepal]           -10.7348      3.778     -2.841      0.004     -18.140      -3.329
C(country)[T.nicaragua]        -7.4671      5.009     -1.491      0.136     -17.286       2.351
C(country)[T.niger]           -10.2387      2.740     -3.737      0.000     -15.609      -4.869
C(country)[T.palestine]       -11.2861     27.605     -0.409      0.683     -65.395      42.823
C(country)[T.peru]            -11.4850      4.181     -2.747      0.006     -19.679      -3.291
C(country)[T.rwanda]          -13.1145      2.603     -5.038      0.000     -18.217      -8.012
C(country)[T.senegal]         -10.1298      4.086     -2.479      0.013     -18.138      -2.121
C(country)[T.south africa]    -10.0438      4.247     -2.365      0.018     -18.367      -1.720
C(country)[T.tanzania]          6.9103      2.670      2.588      0.010       1.677      12.144
C(country)[T.uganda]            0.1317      2.995      0.044      0.965      -5.740       6.003
C(country)[T.vietnam]         -15.5850      2.930     -5.319      0.000     -21.328      -9.842
C(country)[T.zambia]          -18.3983      2.971     -6.192      0.000     -24.222     -12.574
cattle_deaths                   2.0653      0.040     51.898      0.000       1.987       2.143
==============================================================================
Omnibus:                    30492.966   Durbin-Watson:                   1.634
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         87503183.552
Skew:                          13.314   Prob(JB):                         0.00
Kurtosis:                     357.042   Cond. No.                     1.22e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.22e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

--- Chicken Model with Year & Country FEs ---
                            OLS Regression Results
==============================================================================
Dep. Variable:           chicken_size   R-squared:                       0.269
Model:                            OLS   Adj. R-squared:                  0.267
Method:                 Least Squares   F-statistic:                     131.9
Date:                Thu, 18 Sep 2025   Prob (F-statistic):               0.00
Time:                        21:47:18   Log-Likelihood:                -47066.
No. Observations:               11844   AIC:                         9.420e+04
Df Residuals:                   11810   BIC:                         9.445e+04
Df Model:                          33
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                       9.8145      1.813      5.413      0.000       6.260      13.369
C(year)[T.2017]                 5.4809      2.138      2.564      0.010       1.290       9.672
C(year)[T.2018]                 1.6069      2.118      0.759      0.448      -2.545       5.759
C(year)[T.2019]                 3.8812      2.117      1.833      0.067      -0.269       8.032
C(year)[T.2020]                 7.6064      2.141      3.553      0.000       3.410      11.803
C(year)[T.2021]                 4.8661      2.111      2.305      0.021       0.728       9.004
C(year)[T.2022]                 5.9192      2.036      2.907      0.004       1.929       9.910
C(year)[T.2023]                 6.4593      3.087      2.092      0.036       0.408      12.511
C(country)[T.burkina_faso]      7.5658      0.525     14.414      0.000       6.537       8.595
C(country)[T.burundi]          -7.2581      0.791     -9.171      0.000      -8.810      -5.707
C(country)[T.cambodia]         10.2079      0.804     12.704      0.000       8.633      11.783
C(country)[T.comoros]          -3.3318      1.806     -1.845      0.065      -6.871       0.208
C(country)[T.cote d'ivoire]     8.1127      1.536      5.280      0.000       5.101      11.124
C(country)[T.drc]              -7.1770      0.774     -9.268      0.000      -8.695      -5.659
C(country)[T.ecuador]           4.3716      2.344      1.865      0.062      -0.223       8.966
C(country)[T.el_salvador]      13.1071      4.156      3.154      0.002       4.961      21.253
C(country)[T.ethiopia]        -10.4234      0.607    -17.158      0.000     -11.614      -9.233
C(country)[T.ghana]             1.1800      0.592      1.994      0.046       0.020       2.340
C(country)[T.guatemala]         0.5310      1.526      0.348      0.728      -2.461       3.523
C(country)[T.honduras]          7.4633      3.591      2.078      0.038       0.424      14.503
C(country)[T.india]          4.987e-15   2.17e-15      2.295      0.022    7.27e-16    9.25e-15
C(country)[T.kenya]            -0.2854      0.556     -0.513      0.608      -1.375       0.804
C(country)[T.malawi]           -7.2118      1.184     -6.093      0.000      -9.532      -4.892
C(country)[T.mali]              3.2031      0.638      5.018      0.000       1.952       4.454
C(country)[T.morocco]          -6.5082      1.699     -3.831      0.000      -9.838      -3.179
C(country)[T.nepal]            -2.5748      1.236     -2.084      0.037      -4.997      -0.153
C(country)[T.nicaragua]         6.4476      1.050      6.140      0.000       4.389       8.506
C(country)[T.niger]            -2.3161      0.898     -2.579      0.010      -4.076      -0.556
C(country)[T.palestine]     -2.067e-15    7.5e-16     -2.756      0.006   -3.54e-15   -5.97e-16
C(country)[T.peru]             -4.1524      1.596     -2.601      0.009      -7.282      -1.023
C(country)[T.rwanda]           -7.4446      0.813     -9.156      0.000      -9.038      -5.851
C(country)[T.senegal]        4.755e-16   3.41e-16      1.393      0.164   -1.94e-16    1.14e-15
C(country)[T.south africa]     -4.7508      1.834     -2.591      0.010      -8.345      -1.156
C(country)[T.tanzania]          2.9210      0.572      5.103      0.000       1.799       4.043
C(country)[T.uganda]           -1.3858      0.794     -1.745      0.081      -2.942       0.171
C(country)[T.vietnam]          13.6135      0.721     18.883      0.000      12.200      15.027
C(country)[T.zambia]           -4.0897      0.695     -5.889      0.000      -5.451      -2.728
chicken_deaths                  0.1242      0.005     23.005      0.000       0.114       0.135
==============================================================================
Omnibus:                     1613.581   Durbin-Watson:                   1.688
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2428.373
Skew:                           0.991   Prob(JB):                         0.00
Kurtosis:                       3.996   Cond. No.                     1.06e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.94e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

--- Goats Model with Year & Country FEs ---
                            OLS Regression Results
==============================================================================
Dep. Variable:             goats_size   R-squared:                       0.273
Model:                            OLS   Adj. R-squared:                  0.270
Method:                 Least Squares   F-statistic:                     99.98
Date:                Thu, 18 Sep 2025   Prob (F-statistic):               0.00
Time:                        21:47:19   Log-Likelihood:                -39189.
No. Observations:                8828   AIC:                         7.845e+04
Df Residuals:                    8794   BIC:                         7.869e+04
Df Model:                          33
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                    8.983e+10   3.49e+12      0.026      0.979   -6.75e+12    6.93e+12
C(year)[T.2017]             -8.983e+10   3.49e+12     -0.026      0.979   -6.93e+12    6.75e+12
C(year)[T.2018]             -8.983e+10   3.49e+12     -0.026      0.979   -6.93e+12    6.75e+12
C(year)[T.2019]             -8.983e+10   3.49e+12     -0.026      0.979   -6.93e+12    6.75e+12
C(year)[T.2020]             -8.983e+10   3.49e+12     -0.026      0.979   -6.93e+12    6.75e+12
C(year)[T.2021]             -8.983e+10   3.49e+12     -0.026      0.979   -6.93e+12    6.75e+12
C(year)[T.2022]             -8.983e+10   3.49e+12     -0.026      0.979   -6.93e+12    6.75e+12
C(year)[T.2023]             -8.983e+10   3.49e+12     -0.026      0.979   -6.93e+12    6.75e+12
C(country)[T.burkina_faso]    -15.0064      3.928     -3.820      0.000     -22.707      -7.306
C(country)[T.burundi]         -19.9837      3.995     -5.002      0.000     -27.816     -12.152
C(country)[T.cambodia]        -23.5660     15.030     -1.568      0.117     -53.029       5.897
C(country)[T.comoros]         -18.5653      4.405     -4.215      0.000     -27.200      -9.931
C(country)[T.cote d'ivoire]   -17.6199      5.209     -3.383      0.001     -27.830      -7.410
C(country)[T.drc]             -25.6721      4.087     -6.281      0.000     -33.684     -17.661
C(country)[T.ecuador]         -20.7834     11.013     -1.887      0.059     -42.371       0.804
C(country)[T.el_salvador]    9.723e-05      0.004      0.026      0.979      -0.007       0.008
C(country)[T.ethiopia]        -20.6515      4.007     -5.154      0.000     -28.506     -12.797
C(country)[T.ghana]           -17.1613      3.962     -4.332      0.000     -24.927      -9.395
C(country)[T.guatemala]     -8.983e+10   3.49e+12     -0.026      0.979   -6.93e+12    6.75e+12
C(country)[T.honduras]        3.74e-05      0.001      0.026      0.979      -0.003       0.003
C(country)[T.india]           -18.6822      4.351     -4.294      0.000     -27.212     -10.153
C(country)[T.kenya]           -15.0212      4.098     -3.665      0.000     -23.055      -6.987
C(country)[T.malawi]          -19.3460      4.381     -4.416      0.000     -27.933     -10.759
C(country)[T.mali]            -21.1945      4.009     -5.287      0.000     -29.053     -13.336
C(country)[T.morocco]          43.4328      5.163      8.412      0.000      33.312      53.554
C(country)[T.nepal]            -9.6193      4.198     -2.291      0.022     -17.849      -1.390
C(country)[T.nicaragua]       -18.9993     20.900     -0.909      0.363     -59.968      21.969
C(country)[T.niger]           -18.8331      4.104     -4.589      0.000     -26.879     -10.788
C(country)[T.palestine]       -20.0374     20.899     -0.959      0.338     -61.005      20.930
C(country)[T.peru]          -4.407e-15    4.8e-15     -0.918      0.359   -1.38e-14    5.01e-15
C(country)[T.rwanda]          -19.5611      3.948     -4.955      0.000     -27.300     -11.822
C(country)[T.senegal]         -17.2514      4.715     -3.659      0.000     -26.494      -8.008
C(country)[T.south africa]    -17.3480      5.866     -2.957      0.003     -28.848      -5.849
C(country)[T.tanzania]         -6.0192      3.997     -1.506      0.132     -13.854       1.815
C(country)[T.uganda]           -4.1685      4.601     -0.906      0.365     -13.188       4.851
C(country)[T.vietnam]         -18.5067      9.335     -1.983      0.047     -36.805      -0.208
C(country)[T.zambia]          -21.3258      4.165     -5.120      0.000     -29.491     -13.161
goats_deaths                    2.0190      0.052     38.478      0.000       1.916       2.122
==============================================================================
Omnibus:                    19000.137   Durbin-Watson:                   1.564
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        169757232.152
Skew:                          18.835   Prob(JB):                         0.00
Kurtosis:                     681.297   Cond. No.                     1.13e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.49e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

--- Sheep Model with Year & Country FEs ---
                            OLS Regression Results
==============================================================================
Dep. Variable:             sheep_size   R-squared:                       0.336
Model:                            OLS   Adj. R-squared:                  0.333
Method:                 Least Squares   F-statistic:                     109.9
Date:                Thu, 18 Sep 2025   Prob (F-statistic):               0.00
Time:                        21:47:19   Log-Likelihood:                -26676.
No. Observations:                6112   AIC:                         5.341e+04
Df Residuals:                    6083   BIC:                         5.361e+04
Df Model:                          28
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                    2.171e+12   3.27e+12      0.665      0.506   -4.23e+12    8.57e+12
C(year)[T.2017]             -2.171e+12   3.27e+12     -0.665      0.506   -8.57e+12    4.23e+12
C(year)[T.2018]             -2.171e+12   3.27e+12     -0.665      0.506   -8.57e+12    4.23e+12
C(year)[T.2019]             -2.171e+12   3.27e+12     -0.665      0.506   -8.57e+12    4.23e+12
C(year)[T.2020]             -2.171e+12   3.27e+12     -0.665      0.506   -8.57e+12    4.23e+12
C(year)[T.2021]             -2.171e+12   3.27e+12     -0.665      0.506   -8.57e+12    4.23e+12
C(year)[T.2022]             -2.171e+12   3.27e+12     -0.665      0.506   -8.57e+12    4.23e+12
C(year)[T.2023]             -2.171e+12   3.27e+12     -0.665      0.506   -8.57e+12    4.23e+12
C(country)[T.burkina_faso]    -20.5933      3.475     -5.926      0.000     -27.405     -13.781
C(country)[T.burundi]         -23.0736      4.173     -5.529      0.000     -31.254     -14.893
C(country)[T.cambodia]          0.0009      0.001      0.665      0.506      -0.002       0.003
C(country)[T.comoros]         -16.5015      5.389     -3.062      0.002     -27.067      -5.936
C(country)[T.cote d'ivoire]   -20.1948      5.020     -4.023      0.000     -30.036     -10.354
C(country)[T.drc]             -25.4539      8.574     -2.969      0.003     -42.262      -8.646
C(country)[T.ecuador]         -15.8146      4.385     -3.607      0.000     -24.411      -7.218
C(country)[T.el_salvador]       0.0015      0.002      0.665      0.506      -0.003       0.006
C(country)[T.ethiopia]        -25.7430      3.540     -7.272      0.000     -32.682     -18.804
C(country)[T.ghana]           -18.4250      3.561     -5.174      0.000     -25.406     -11.444
C(country)[T.guatemala]        -0.0015      0.002     -0.665      0.506      -0.006       0.003
C(country)[T.honduras]       2.698e-16   2.16e-15      0.125      0.901   -3.96e-15     4.5e-15
C(country)[T.india]          2.505e-15   2.48e-15      1.010      0.313   -2.36e-15    7.37e-15
C(country)[T.kenya]           -24.2437      3.662     -6.621      0.000     -31.422     -17.066
C(country)[T.malawi]        -8.521e-05      0.000     -0.665      0.506      -0.000       0.000
C(country)[T.mali]            -26.1079      3.614     -7.225      0.000     -33.192     -19.024
C(country)[T.morocco]          43.9186      4.083     10.757      0.000      35.915      51.922
C(country)[T.nepal]           -26.9887     10.173     -2.653      0.008     -46.931      -7.047

In [56]:
#  Year
merged_df = merged_df.merge(
    df[["id_unique", "year"]],
    on="id_unique",
    how="left"
)

# country
merged_df = merged_df.merge(
    df[["id_unique", "country"]],
    on="id_unique",
    how="left"
)

In [74]:
for animal in animals:
    size_col = f"{animal}_size"
    deaths_col = f"{animal}_deaths"
    
    print(f"\n--- {animal.capitalize()} Model with Year & Country FEs ---")
    formula = f"{size_col} ~ {deaths_col} + C(year) + C(country)"
    model = smf.ols(formula=formula, data=merged_df).fit()
    print(model.summary())

--- Cattle Model with Year & Country FEs ---
                            OLS Regression Results
==============================================================================
Dep. Variable:            cattle_size   R-squared:                       0.140
Model:                            OLS   Adj. R-squared:                  0.138
Method:                 Least Squares   F-statistic:                     73.09
Date:                Thu, 18 Sep 2025   Prob (F-statistic):               0.00
Time:                        21:47:02   Log-Likelihood:                -80081.
No. Observations:               16660   AIC:                         1.602e+05
Df Residuals:                   16622   BIC:                         1.605e+05
Df Model:                          37
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                      13.7154     15.704      0.873      0.382     -17.066      44.497
C(year)[T.2017]                23.3197     15.482      1.506      0.132      -7.026      53.666
C(year)[T.2018]                 1.8911     15.473      0.122      0.903     -28.438      32.220
C(year)[T.2019]                 4.2339     15.476      0.274      0.784     -26.101      34.569
C(year)[T.2020]                 5.8648     15.469      0.379      0.705     -24.456      36.186
C(year)[T.2021]                -5.5199     15.475     -0.357      0.721     -35.853      24.813
C(year)[T.2022]                 5.0714     15.440      0.328      0.743     -25.193      35.336
C(year)[T.2023]                 9.7383     15.715      0.620      0.535     -21.065      40.542
C(country)[T.burkina_faso]     -7.0181      2.795     -2.511      0.012     -12.497      -1.540
C(country)[T.burundi]         -16.3889      2.992     -5.478      0.000     -22.253     -10.525
C(country)[T.cambodia]        -12.1011      3.200     -3.782      0.000     -18.373      -5.829
C(country)[T.comoros]         -11.4906      3.392     -3.387      0.001     -18.140      -4.841
C(country)[T.cote d'ivoire]    -9.4399     12.393     -0.762      0.446     -33.731      14.851
C(country)[T.drc]             -24.4785      3.664     -6.681      0.000     -31.660     -17.297
C(country)[T.ecuador]          -9.4547      3.619     -2.613      0.009     -16.548      -2.362
C(country)[T.el_salvador]      -5.2154     26.187     -0.199      0.842     -56.545      46.114
C(country)[T.ethiopia]        -16.3976      2.839     -5.775      0.000     -21.963     -10.832
C(country)[T.ghana]            -7.3242      3.098     -2.364      0.018     -13.398      -1.251
C(country)[T.guatemala]        -5.7868     13.560     -0.427      0.670     -32.366      20.792
C(country)[T.honduras]         -9.0487     18.553     -0.488      0.626     -45.414      27.316
C(country)[T.india]           -13.5973      3.147     -4.321      0.000     -19.765      -7.429
C(country)[T.kenya]           -13.9446      3.026     -4.608      0.000     -19.876      -8.013
C(country)[T.malawi]          -15.2826      5.728     -2.668      0.008     -26.510      -4.056
C(country)[T.mali]            -13.3256      2.896     -4.601      0.000     -19.003      -7.649
C(country)[T.morocco]         -16.5193      4.824     -3.424      0.001     -25.976      -7.063
C(country)[T.nepal]           -14.1868      4.072     -3.484      0.000     -22.168      -6.205
C(country)[T.nicaragua]        -7.8066      5.400     -1.446      0.148     -18.391       2.777
C(country)[T.niger]           -11.0779      2.953     -3.751      0.000     -16.867      -5.289
C(country)[T.palestine]       -12.6066     29.757     -0.424      0.672     -70.934      45.721
C(country)[T.peru]            -12.6513      4.506     -2.807      0.005     -21.484      -3.818
C(country)[T.rwanda]          -14.1135      2.806     -5.030      0.000     -19.613      -8.614
C(country)[T.senegal]         -10.2454      4.404     -2.326      0.020     -18.878      -1.613
C(country)[T.south africa]     -9.2373      4.578     -2.018      0.044     -18.210      -0.265
C(country)[T.tanzania]          9.5021      2.878      3.302      0.001       3.862      15.143
C(country)[T.uganda]            2.3548      3.229      0.729      0.466      -3.974       8.683
C(country)[T.vietnam]         -17.0753      3.158     -5.406      0.000     -23.266     -10.884
C(country)[T.zambia]          -20.6990      3.203     -6.463      0.000     -26.976     -14.422
cattle_deaths                3.546e-06   7.41e-06      0.478      0.632    -1.1e-05    1.81e-05
==============================================================================
Omnibus:                    30753.877   Durbin-Watson:                   1.519
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         68328051.023
Skew:                          13.715   Prob(JB):                         0.00
Kurtosis:                     315.537   Cond. No.                     6.87e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.87e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

--- Chicken Model with Year & Country FEs ---
                            OLS Regression Results
==============================================================================
Dep. Variable:           chicken_size   R-squared:                       0.074
Model:                            OLS   Adj. R-squared:                  0.071
Method:                 Least Squares   F-statistic:                     28.56
Date:                Thu, 18 Sep 2025   Prob (F-statistic):          2.09e-169
Time:                        21:47:02   Log-Likelihood:                -75519.
No. Observations:               11844   AIC:                         1.511e+05
Df Residuals:                   11810   BIC:                         1.514e+05
Df Model:                          33
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                      11.6371     20.029      0.581      0.561     -27.623      50.897
C(year)[T.2017]                18.9464     23.624      0.802      0.423     -27.360      65.253
C(year)[T.2018]                 7.6899     23.403      0.329      0.742     -38.183      53.563
C(year)[T.2019]                17.6346     23.396      0.754      0.451     -28.225      63.495
C(year)[T.2020]                21.6742     23.655      0.916      0.360     -24.694      68.042
C(year)[T.2021]                15.4087     23.325      0.661      0.509     -30.311      61.129
C(year)[T.2022]                19.3824     22.494      0.862      0.389     -24.710      63.475
C(year)[T.2023]                19.4491     34.111      0.570      0.569     -47.414      86.312
C(country)[T.burkina_faso]     -1.1781      5.792     -0.203      0.839     -12.532      10.176
C(country)[T.burundi]         -23.8003      8.744     -2.722      0.006     -40.940      -6.661
C(country)[T.cambodia]         10.3521      8.860      1.168      0.243      -7.014      27.719
C(country)[T.comoros]         -16.7774     19.952     -0.841      0.400     -55.886      22.331
C(country)[T.cote d'ivoire]    86.2440     16.974      5.081      0.000      52.973     119.515
C(country)[T.drc]             -23.0983      8.551     -2.701      0.007     -39.859      -6.338
C(country)[T.ecuador]          -0.8913     25.897     -0.034      0.973     -51.655      49.872
C(country)[T.el_salvador]      14.2777     45.914      0.311      0.756     -75.722     104.277
C(country)[T.ethiopia]        -26.1103      6.708     -3.893      0.000     -39.259     -12.962
C(country)[T.ghana]           -11.5665      6.539     -1.769      0.077     -24.384       1.251
C(country)[T.guatemala]        -2.1453     16.861     -0.127      0.899     -35.196      30.905
C(country)[T.honduras]          4.1975     39.682      0.106      0.916     -73.586      81.981
C(country)[T.india]         -1.514e-15   1.55e-14     -0.098      0.922   -3.18e-14    2.88e-14
C(country)[T.kenya]           -13.9306      6.142     -2.268      0.023     -25.970      -1.891
C(country)[T.malawi]          -24.3801     13.078     -1.864      0.062     -50.016       1.256
C(country)[T.mali]             -3.2068      7.050     -0.455      0.649     -17.025      10.612
C(country)[T.morocco]         -23.1202     18.768     -1.232      0.218     -59.909      13.668
C(country)[T.nepal]            60.6074     13.632      4.446      0.000      33.887      87.328
C(country)[T.nicaragua]         1.0318     11.603      0.089      0.929     -21.711      23.775
C(country)[T.niger]           -16.7157      9.922     -1.685      0.092     -36.164       2.733
C(country)[T.palestine]      5.506e-16   1.81e-14      0.030      0.976   -3.49e-14     3.6e-14
C(country)[T.peru]            -12.1877     17.639     -0.691      0.490     -46.763      22.388
C(country)[T.rwanda]          -15.6594      8.983     -1.743      0.081     -33.267       1.948
C(country)[T.senegal]        1.078e-14   5.64e-15      1.910      0.056   -2.81e-16    2.18e-14
C(country)[T.south africa]    -21.1022     20.260     -1.042      0.298     -60.816      18.611
C(country)[T.tanzania]         -4.5512      6.324     -0.720      0.472     -16.948       7.846
C(country)[T.uganda]           37.2623      8.768      4.250      0.000      20.076      54.449
C(country)[T.vietnam]          56.0517      7.941      7.058      0.000      40.485      71.618
C(country)[T.zambia]          -17.9658      7.673     -2.341      0.019     -33.006      -2.926
chicken_deaths                  0.3958      0.017     22.924      0.000       0.362       0.430
==============================================================================
Omnibus:                    33501.675   Durbin-Watson:                   1.776
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       2471097321.514
Skew:                          37.093   Prob(JB):                         0.00
Kurtosis:                    2239.467   Cond. No.                     1.01e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.82e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

--- Goats Model with Year & Country FEs ---
                            OLS Regression Results
==============================================================================
Dep. Variable:             goats_size   R-squared:                       0.267
Model:                            OLS   Adj. R-squared:                  0.264
Method:                 Least Squares   F-statistic:                     96.92
Date:                Thu, 18 Sep 2025   Prob (F-statistic):               0.00
Time:                        21:47:02   Log-Likelihood:                -39226.
No. Observations:                8828   AIC:                         7.852e+04
Df Residuals:                    8794   BIC:                         7.876e+04
Df Model:                          33
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                    1.819e+11   3.51e+12      0.052      0.959   -6.69e+12    7.05e+12
C(year)[T.2017]             -1.819e+11   3.51e+12     -0.052      0.959   -7.05e+12    6.69e+12
C(year)[T.2018]             -1.819e+11   3.51e+12     -0.052      0.959   -7.05e+12    6.69e+12
C(year)[T.2019]             -1.819e+11   3.51e+12     -0.052      0.959   -7.05e+12    6.69e+12
C(year)[T.2020]             -1.819e+11   3.51e+12     -0.052      0.959   -7.05e+12    6.69e+12
C(year)[T.2021]             -1.819e+11   3.51e+12     -0.052      0.959   -7.05e+12    6.69e+12
C(year)[T.2022]             -1.819e+11   3.51e+12     -0.052      0.959   -7.05e+12    6.69e+12
C(year)[T.2023]             -1.819e+11   3.51e+12     -0.052      0.959   -7.05e+12    6.69e+12
C(country)[T.burkina_faso]    -16.0031      3.944     -4.058      0.000     -23.734      -8.272
C(country)[T.burundi]         -21.6806      4.010     -5.406      0.000     -29.542     -13.819
C(country)[T.cambodia]        -23.6989     15.093     -1.570      0.116     -53.285       5.888
C(country)[T.comoros]         -20.1911      4.422     -4.566      0.000     -28.859     -11.523
C(country)[T.cote d'ivoire]   -18.8729      5.230     -3.609      0.000     -29.124      -8.621
C(country)[T.drc]             -27.7199      4.101     -6.759      0.000     -35.759     -19.680
C(country)[T.ecuador]         -22.1006     11.059     -1.998      0.046     -43.778      -0.423
C(country)[T.el_salvador]      -0.0002      0.004     -0.052      0.959      -0.009       0.008
C(country)[T.ethiopia]        -21.7251      4.023     -5.400      0.000     -29.611     -13.839
C(country)[T.ghana]           -17.9382      3.978     -4.509      0.000     -25.736     -10.140
C(country)[T.guatemala]     -1.819e+11   3.51e+12     -0.052      0.959   -7.05e+12    6.69e+12
C(country)[T.honduras]      -5.301e-05      0.001     -0.052      0.959      -0.002       0.002
C(country)[T.india]           -20.4097      4.368     -4.673      0.000     -28.972     -11.848
C(country)[T.kenya]           -16.2961      4.115     -3.960      0.000     -24.362      -8.230
C(country)[T.malawi]          -21.0083      4.397     -4.777      0.000     -29.628     -12.388
C(country)[T.mali]            -22.5396      4.024     -5.601      0.000     -30.428     -14.651
C(country)[T.morocco]          44.9502      5.183      8.673      0.000      34.790      55.110
C(country)[T.nepal]           -10.9410      4.215     -2.596      0.009     -19.203      -2.679
C(country)[T.nicaragua]       -20.7561     20.987     -0.989      0.323     -61.896      20.384
C(country)[T.niger]           -20.0994      4.121     -4.878      0.000     -28.177     -12.022
C(country)[T.palestine]       -20.8659     20.987     -0.994      0.320     -62.005      20.273
C(country)[T.peru]          -1.124e-14   6.46e-15     -1.741      0.082   -2.39e-14    1.42e-15
C(country)[T.rwanda]          -21.1003      3.963     -5.324      0.000     -28.869     -13.332
C(country)[T.senegal]         -18.6466      4.734     -3.939      0.000     -27.926      -9.367
C(country)[T.south africa]    -18.9523      5.890     -3.218      0.001     -30.498      -7.407
C(country)[T.tanzania]         -7.0807      4.013     -1.764      0.078     -14.947       0.786
C(country)[T.uganda]           -4.4103      4.621     -0.954      0.340     -13.469       4.648
C(country)[T.vietnam]         -20.3045      9.373     -2.166      0.030     -38.678      -1.931
C(country)[T.zambia]          -22.9143      4.181     -5.481      0.000     -31.110     -14.718
goats_deaths                    1.5551      0.042     37.339      0.000       1.473       1.637
==============================================================================
Omnibus:                    19158.392   Durbin-Watson:                   1.557
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        179717929.461
Skew:                          19.203   Prob(JB):                         0.00
Kurtosis:                     700.933   Cond. No.                     1.11e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.35e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

--- Sheep Model with Year & Country FEs ---
                            OLS Regression Results
==============================================================================
Dep. Variable:             sheep_size   R-squared:                       0.222
Model:                            OLS   Adj. R-squared:                  0.218
Method:                 Least Squares   F-statistic:                     61.89
Date:                Thu, 18 Sep 2025   Prob (F-statistic):          7.86e-305
Time:                        21:47:02   Log-Likelihood:                -27161.
No. Observations:                6112   AIC:                         5.438e+04
Df Residuals:                    6083   BIC:                         5.458e+04
Df Model:                          28
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                      30.3573      3.493      8.690      0.000      23.509      37.205
C(year)[T.2017]                12.7831      1.750      7.304      0.000       9.352      16.214
C(year)[T.2018]                 1.6755      1.376      1.218      0.223      -1.022       4.373
C(year)[T.2019]                -8.1542      1.598     -5.104      0.000     -11.286      -5.022
C(year)[T.2020]                12.0039      1.492      8.044      0.000       9.079      14.929
C(year)[T.2021]                -2.9853      1.603     -1.862      0.063      -6.128       0.157
C(year)[T.2022]                 8.6216      1.386      6.219      0.000       5.904      11.339
C(year)[T.2023]                 6.4125      8.113      0.790      0.429      -9.492      22.317
C(country)[T.burkina_faso]    -23.4424      3.761     -6.234      0.000     -30.814     -16.070
C(country)[T.burundi]         -29.6911      4.512     -6.580      0.000     -38.536     -20.846
C(country)[T.cambodia]      -5.506e-14   1.04e-14     -5.275      0.000   -7.55e-14   -3.46e-14
C(country)[T.comoros]         -20.4539      5.833     -3.507      0.000     -31.889      -9.019
C(country)[T.cote d'ivoire]   -22.6251      5.434     -4.164      0.000     -33.278     -11.972
C(country)[T.drc]             -32.1612      9.279     -3.466      0.001     -50.352     -13.971
C(country)[T.ecuador]         -19.9893      4.745     -4.213      0.000     -29.291     -10.687
C(country)[T.el_salvador]    4.139e-15   5.11e-15      0.809      0.418   -5.89e-15    1.42e-14
C(country)[T.ethiopia]        -28.9695      3.831     -7.562      0.000     -36.479     -21.460
C(country)[T.ghana]           -20.3304      3.855     -5.274      0.000     -27.887     -12.774
C(country)[T.guatemala]      1.597e-14   7.17e-15      2.226      0.026    1.91e-15       3e-14
C(country)[T.honduras]      -1.002e-14   6.85e-15     -1.462      0.144   -2.34e-14    3.42e-15
C(country)[T.india]          -5.46e-15   4.22e-15     -1.293      0.196   -1.37e-14    2.82e-15
C(country)[T.kenya]           -30.6872      3.958     -7.753      0.000     -38.447     -22.928
C(country)[T.malawi]        -4.808e-15   2.91e-15     -1.654      0.098   -1.05e-14    8.92e-16
C(country)[T.mali]            -30.7042      3.909     -7.854      0.000     -38.368     -23.041
C(country)[T.morocco]          51.2152      4.413     11.605      0.000      42.564      59.866
C(country)[T.nepal]           -34.9789     11.010     -3.177      0.001     -56.562     -13.396

In [61]:

new_test_df = merged_df.copy()

cols_to_winsorize = merged_df.columns

for col in cols_to_winsorize:
    if col in new_test_df.columns:
        # Copy column
        series = new_test_df[col].copy()
        mask = series.notna()

        # Pick limit depending on column name
        if "_deaths" in col:
            limit = [0, 0.0008]   # cap top 0.08%
        else:
            limit = [0, 0.05]   # cap top 5%

        # Winsorize non-missing values
        winsorized = winsorize(series[mask].to_numpy(), limits=limit)

        # Assign back
        new_test_df.loc[mask, col] = winsorized

In [62]:
new_test_df.describe()

,cattle_deaths,chicken_deaths,goats_deaths,sheep_deaths,donkeys_horses_deaths,buffalo_deaths,pigs_deaths,sheep_size,cattle_size,pigs_size,goats_size,chicken_size,buffalo_size,donkeys_horses_size,year
count,19387.00000,11927.000000,11015.000000,7845.000000,4189.000000,509.000000,4437.000000,9845.000000,18427.000000,6731.000000,13366.000000,21368.000000,444.000000,5727.000000,33367.000000
mean,0.81663,7.848998,1.411711,1.677757,0.139651,0.078585,1.150778,7.207009,4.034732,3.072798,6.290663,14.745601,2.513514,1.709970,2019.608655
std,5.07181,22.395267,4.136537,3.774788,0.625643,0.373472,3.807417,7.312426,4.946483,3.469166,6.549051,14.232939,1.931630,1.051192,1.691624
min,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015.000000
25%,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,1.000000,2.000000,5.000000,1.000000,1.000000,2018.000000
50%,0.00000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2.000000,2.000000,4.000000,10.000000,2.000000,1.000000,2020.000000
75%,0.00000,8.000000,2.000000,2.000000,0.000000,0.000000,1.000000,10.000000,4.000000,4.000000,8.000000,20.000000,3.000000,2.000000,2021.000000
max,114.00000,430.000000,80.000000,50.000000,13.000000,4.000000,70.000000,28.000000,20.000000,13.000000,26.000000,53.000000,8.000000,4.000000,2022.000000

In [63]:
#  Year
new_test_df = new_test_df.merge(
    df[["id_unique", "year"]],
    on="id_unique",
    how="left"
)

# country
new_test_df = new_test_df.merge(
    df[["id_unique", "country"]],
    on="id_unique",
    how="left"
)

In [66]:
new_test_df.drop(columns=["year_y", "country_y"], inplace=True)
new_test_df.rename(columns={"year_x": "year", "country_x": "country"}, inplace=True)

In [67]:
new_test_df

,id_unique,cattle_deaths,chicken_deaths,goats_deaths,sheep_deaths,donkeys_horses_deaths,buffalo_deaths,pigs_deaths,sheep_size,cattle_size,pigs_size,goats_size,chicken_size,buffalo_size,donkeys_horses_size,year,country
0,bf_adn_2019_10_1,1.0,NaN,NaN,2.0,NaN,NaN,NaN,5.0,4.0,NaN,6.0,10.0,NaN,NaN,2019,burkina_faso
1,bf_adn_2019_11_1,0.0,4.0,0.0,1.0,NaN,NaN,NaN,4.0,1.0,NaN,1.0,4.0,NaN,NaN,2019,burkina_faso
2,bf_adn_2019_12_1,0.0,1.0,NaN,NaN,NaN,NaN,0.0,NaN,1.0,2.0,NaN,3.0,NaN,NaN,2019,burkina_faso
3,bf_adn_2019_13_1,NaN,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,6.0,NaN,NaN,2019,burkina_faso
4,bf_adn_2019_14_1,0.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,53.0,NaN,NaN,2019,burkina_faso
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33362,vn_crp_2020_5_1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,6.0,0.0,0.0,0.0,NaN,0.0,2017,vietnam
33363,vn_crp_2020_5_1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5.0,0.0,0.0,18.0,NaN,0.0,2017,vietnam
33364,vn_crp_2020_5_1,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,6.0,0.0,9.0,13.0,NaN,0.0,2017,vietnam
33365,vn_crp_2020_5_1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.0,0.0,0.0,6.0,NaN,0.0,2017,vietnam
33366,vn_crp_2020_5_1,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,5.0,8.0,NaN,0.0,2017,vietnam

In [73]:

for animal in animals:
    size_col = f"{animal}_size"
    deaths_col = f"{animal}_deaths"
    
    print(f"\n--- {animal.capitalize()} Model with Year & Country FEs ---")
    formula = f"{size_col} ~ {deaths_col} + C(year) + C(country)"
    model = smf.ols(formula=formula, data=new_test_df).fit()
    print(model.summary())

--- Cattle Model with Year & Country FEs ---
                            OLS Regression Results
==============================================================================
Dep. Variable:            cattle_size   R-squared:                       0.351
Model:                            OLS   Adj. R-squared:                  0.350
Method:                 Least Squares   F-statistic:                     257.0
Date:                Thu, 18 Sep 2025   Prob (F-statistic):               0.00
Time:                        21:46:32   Log-Likelihood:                -46964.
No. Observations:               16660   AIC:                         9.400e+04
Df Residuals:                   16624   BIC:                         9.428e+04
Df Model:                          35
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                       2.7000      2.151      1.255      0.209      -1.516       6.916
C(year)[T.2017]                12.0021      2.120      5.660      0.000       7.846      16.158
C(year)[T.2018]                 9.2242      2.119      4.352      0.000       5.070      13.379
C(year)[T.2019]                 9.0656      2.120      4.277      0.000       4.911      13.221
C(year)[T.2020]                 8.7164      2.119      4.114      0.000       4.563      12.869
C(year)[T.2021]                 5.7949      2.120      2.734      0.006       1.640       9.950
C(year)[T.2022]                 8.6671      2.115      4.098      0.000       4.521      12.813
C(country)[T.burkina_faso]     -5.6643      0.383    -14.795      0.000      -6.415      -4.914
C(country)[T.burundi]          -9.6278      0.410    -23.500      0.000     -10.431      -8.825
C(country)[T.cambodia]         -7.5337      0.438    -17.191      0.000      -8.393      -6.675
C(country)[T.comoros]          -8.2879      0.465    -17.837      0.000      -9.199      -7.377
C(country)[T.cote d'ivoire]    -6.2386      1.698     -3.675      0.000      -9.566      -2.911
C(country)[T.drc]              -9.3096      0.502    -18.558      0.000     -10.293      -8.326
C(country)[T.ecuador]          -7.6447      0.496    -15.422      0.000      -8.616      -6.673
C(country)[T.el_salvador]       5.6302      3.587      1.570      0.117      -1.401      12.661
C(country)[T.ethiopia]         -8.6870      0.389    -22.356      0.000      -9.449      -7.925
C(country)[T.ghana]            -5.2009      0.424    -12.254      0.000      -6.033      -4.369
C(country)[T.guatemala]         1.6329      1.857      0.879      0.379      -2.008       5.274
C(country)[T.honduras]          1.9666      2.541      0.774      0.439      -3.015       6.948
C(country)[T.india]            -9.9338      0.431    -23.045      0.000     -10.779      -9.089
C(country)[T.kenya]            -8.1293      0.414    -19.618      0.000      -8.942      -7.317
C(country)[T.malawi]           -9.1367      0.785    -11.646      0.000     -10.675      -7.599
C(country)[T.mali]             -7.4144      0.397    -18.689      0.000      -8.192      -6.637
C(country)[T.morocco]         -10.3079      0.661    -15.598      0.000     -11.603      -9.013
C(country)[T.nepal]            -6.8237      0.558    -12.237      0.000      -7.917      -5.731
C(country)[T.nicaragua]        -5.9549      0.740     -8.051      0.000      -7.405      -4.505
C(country)[T.niger]            -8.5501      0.405    -21.136      0.000      -9.343      -7.757
C(country)[T.palestine]        -8.9242      4.076     -2.189      0.029     -16.914      -0.934
C(country)[T.peru]             -8.9817      0.617    -14.550      0.000     -10.192      -7.772
C(country)[T.rwanda]          -10.4660      0.384    -27.229      0.000     -11.219      -9.713
C(country)[T.senegal]          -7.1899      0.603    -11.917      0.000      -8.373      -6.007
C(country)[T.south africa]     -2.9105      0.626     -4.652      0.000      -4.137      -1.684
C(country)[T.tanzania]         -3.5517      0.394     -9.014      0.000      -4.324      -2.779
C(country)[T.uganda]           -3.8230      0.441     -8.675      0.000      -4.687      -2.959
C(country)[T.vietnam]          -8.2579      0.409    -20.212      0.000      -9.059      -7.457
cattle_deaths                   0.1698      0.006     28.900      0.000       0.158       0.181
==============================================================================
Omnibus:                     4790.009   Durbin-Watson:                   1.485
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            16015.702
Skew:                           1.449   Prob(JB):                         0.00
Kurtosis:                       6.831   Cond. No.                     1.17e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.17e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

--- Chicken Model with Year & Country FEs ---
                            OLS Regression Results
==============================================================================
Dep. Variable:           chicken_size   R-squared:                       0.244
Model:                            OLS   Adj. R-squared:                  0.242
Method:                 Least Squares   F-statistic:                     123.3
Date:                Thu, 18 Sep 2025   Prob (F-statistic):               0.00
Time:                        21:46:32   Log-Likelihood:                -47264.
No. Observations:               11844   AIC:                         9.459e+04
Df Residuals:                   11812   BIC:                         9.483e+04
Df Model:                          31
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                       9.9057      1.834      5.402      0.000       6.311      13.500
C(year)[T.2017]                 2.0827      2.167      0.961      0.337      -2.165       6.330
C(year)[T.2018]                 0.4777      2.153      0.222      0.824      -3.742       4.698
C(year)[T.2019]                 2.3669      2.152      1.100      0.271      -1.850       6.584
C(year)[T.2020]                12.9788      2.159      6.011      0.000       8.746      17.211
C(year)[T.2021]                 3.7889      2.146      1.766      0.077      -0.417       7.995
C(year)[T.2022]                 5.9436      2.070      2.871      0.004       1.886      10.001
C(country)[T.burkina_faso]      8.2591      0.542     15.226      0.000       7.196       9.322
C(country)[T.burundi]          -6.9561      0.810     -8.589      0.000      -8.543      -5.369
C(country)[T.cambodia]          9.9179      0.823     12.053      0.000       8.305      11.531
C(country)[T.comoros]          -2.0107      1.836     -1.095      0.273      -5.610       1.588
C(country)[T.cote d'ivoire]     9.0620      1.563      5.799      0.000       5.999      12.125
C(country)[T.drc]              -4.3961      0.785     -5.601      0.000      -5.935      -2.858
C(country)[T.ecuador]           5.5594      2.382      2.334      0.020       0.891      10.228
C(country)[T.el_salvador]      13.0040      4.216      3.085      0.002       4.741      21.268
C(country)[T.ethiopia]        -11.5562      0.619    -18.655      0.000     -12.771     -10.342
C(country)[T.ghana]             2.2621      0.609      3.715      0.000       1.068       3.456
C(country)[T.guatemala]         0.3995      1.543      0.259      0.796      -2.626       3.425
C(country)[T.honduras]          7.3258      3.642      2.011      0.044       0.186      14.466
C(country)[T.india]          -6.63e-15   3.13e-15     -2.118      0.034   -1.28e-14   -4.94e-16
C(country)[T.kenya]             0.4762      0.574      0.830      0.406      -0.648       1.600
C(country)[T.malawi]           -5.8399      1.206     -4.842      0.000      -8.204      -3.475
C(country)[T.mali]              3.6379      0.658      5.527      0.000       2.348       4.928
C(country)[T.morocco]          -5.1184      1.728     -2.963      0.003      -8.505      -1.732
C(country)[T.nepal]            -2.8982      1.258     -2.304      0.021      -5.364      -0.432
C(country)[T.nicaragua]         7.4609      1.070      6.972      0.000       5.363       9.559
C(country)[T.niger]            -1.3361      0.917     -1.457      0.145      -3.134       0.462
C(country)[T.palestine]       1.07e-15   4.64e-16      2.309      0.021    1.62e-16    1.98e-15
C(country)[T.peru]             -3.1185      1.623     -1.921      0.055      -6.301       0.064
C(country)[T.rwanda]           -6.4206      0.831     -7.729      0.000      -8.049      -4.792
C(country)[T.senegal]       -4.198e-16   1.21e-16     -3.470      0.001   -6.57e-16   -1.83e-16
C(country)[T.south africa]    -10.2335      1.845     -5.548      0.000     -13.849      -6.618
C(country)[T.tanzania]          4.2990      0.588      7.311      0.000       3.146       5.452
C(country)[T.uganda]           -6.3848      0.775     -8.243      0.000      -7.903      -4.867
C(country)[T.vietnam]           4.5110      0.584      7.730      0.000       3.367       5.655
chicken_deaths                  0.1329      0.005     24.296      0.000       0.122       0.144
==============================================================================
Omnibus:                     1637.278   Durbin-Watson:                   1.635
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2437.454
Skew:                           1.018   Prob(JB):                         0.00
Kurtosis:                       3.889   Cond. No.                     1.06e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.94e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

--- Goats Model with Year & Country FEs ---
                            OLS Regression Results
==============================================================================
Dep. Variable:             goats_size   R-squared:                       0.307
Model:                            OLS   Adj. R-squared:                  0.305
Method:                 Least Squares   F-statistic:                     125.9
Date:                Thu, 18 Sep 2025   Prob (F-statistic):               0.00
Time:                        21:46:32   Log-Likelihood:                -27382.
No. Observations:                8828   AIC:                         5.483e+04
Df Residuals:                    8796   BIC:                         5.505e+04
Df Model:                          31
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                    8.977e+10   9.14e+11      0.098      0.922    -1.7e+12    1.88e+12
C(year)[T.2017]             -8.977e+10   9.14e+11     -0.098      0.922   -1.88e+12     1.7e+12
C(year)[T.2018]             -8.977e+10   9.14e+11     -0.098      0.922   -1.88e+12     1.7e+12
C(year)[T.2019]             -8.977e+10   9.14e+11     -0.098      0.922   -1.88e+12     1.7e+12
C(year)[T.2020]             -8.977e+10   9.14e+11     -0.098      0.922   -1.88e+12     1.7e+12
C(year)[T.2021]             -8.977e+10   9.14e+11     -0.098      0.922   -1.88e+12     1.7e+12
C(year)[T.2022]             -8.977e+10   9.14e+11     -0.098      0.922   -1.88e+12     1.7e+12
C(country)[T.burkina_faso]     -9.3216      1.031     -9.040      0.000     -11.343      -7.300
C(country)[T.burundi]         -14.5101      1.049    -13.836      0.000     -16.566     -12.454
C(country)[T.cambodia]        -14.4640      3.945     -3.666      0.000     -22.198      -6.730
C(country)[T.comoros]         -14.4521      1.156    -12.500      0.000     -16.718     -12.186
C(country)[T.cote d'ivoire]   -12.4871      1.367     -9.133      0.000     -15.167      -9.807
C(country)[T.drc]             -15.4383      1.073    -14.391      0.000     -17.541     -13.335
C(country)[T.ecuador]         -14.6954      2.891     -5.084      0.000     -20.362      -9.029
C(country)[T.el_salvador]   -7.047e-06   7.17e-05     -0.098      0.922      -0.000       0.000
C(country)[T.ethiopia]        -13.2943      1.051    -12.646      0.000     -15.355     -11.234
C(country)[T.ghana]           -11.2205      1.040    -10.790      0.000     -13.259      -9.182
C(country)[T.guatemala]     -8.977e+10   9.14e+11     -0.098      0.922   -1.88e+12     1.7e+12
C(country)[T.honduras]       4.933e-05      0.001      0.098      0.922      -0.001       0.001
C(country)[T.india]           -15.2296      1.142    -13.334      0.000     -17.468     -12.991
C(country)[T.kenya]           -11.1455      1.076    -10.360      0.000     -13.254      -9.037
C(country)[T.malawi]          -14.4811      1.150    -12.594      0.000     -16.735     -12.227
C(country)[T.mali]            -11.8547      1.052    -11.266      0.000     -13.917      -9.792
C(country)[T.morocco]          -2.8687      1.355     -2.117      0.034      -5.525      -0.212
C(country)[T.nepal]            -5.8812      1.102     -5.338      0.000      -8.041      -3.721
C(country)[T.nicaragua]       -15.6511      5.486     -2.853      0.004     -26.405      -4.897
C(country)[T.niger]           -13.0657      1.077    -12.127      0.000     -15.178     -10.954
C(country)[T.palestine]       -13.4015      5.486     -2.443      0.015     -24.155      -2.648
C(country)[T.peru]          -3.524e-06   3.59e-05     -0.098      0.922   -7.38e-05    6.68e-05
C(country)[T.rwanda]          -15.4414      1.036    -14.900      0.000     -17.473     -13.410
C(country)[T.senegal]         -12.6894      1.238    -10.252      0.000     -15.116     -10.263
C(country)[T.south africa]     -8.4540      1.539     -5.493      0.000     -11.471      -5.437
C(country)[T.tanzania]         -8.7095      1.049     -8.302      0.000     -10.766      -6.653
C(country)[T.uganda]           -2.7962      1.207     -2.317      0.021      -5.162      -0.430
C(country)[T.vietnam]         -12.9866      1.092    -11.897      0.000     -15.126     -10.847
goats_deaths                    0.3752      0.014     27.242      0.000       0.348       0.402
==============================================================================
Omnibus:                     2083.900   Durbin-Watson:                   1.606
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4913.232
Skew:                           1.320   Prob(JB):                         0.00
Kurtosis:                       5.528   Cond. No.                     1.13e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.48e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

--- Sheep Model with Year & Country FEs ---
                            OLS Regression Results
==============================================================================
Dep. Variable:             sheep_size   R-squared:                       0.249
Model:                            OLS   Adj. R-squared:                  0.246
Method:                 Least Squares   F-statistic:                     74.75
Date:                Thu, 18 Sep 2025   Prob (F-statistic):               0.00
Time:                        21:46:32   Log-Likelihood:                -19962.
No. Observations:                6112   AIC:                         3.998e+04
Df Residuals:                    6084   BIC:                         4.017e+04
Df Model:                          27
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                    5.624e+11    1.1e+12      0.511      0.609   -1.59e+12    2.72e+12
C(year)[T.2017]             -5.624e+11    1.1e+12     -0.511      0.609   -2.72e+12    1.59e+12
C(year)[T.2018]             -5.624e+11    1.1e+12     -0.511      0.609   -2.72e+12    1.59e+12
C(year)[T.2019]             -5.624e+11    1.1e+12     -0.511      0.609   -2.72e+12    1.59e+12
C(year)[T.2020]             -5.624e+11    1.1e+12     -0.511      0.609   -2.72e+12    1.59e+12
C(year)[T.2021]             -5.624e+11    1.1e+12     -0.511      0.609   -2.72e+12    1.59e+12
C(year)[T.2022]             -5.624e+11    1.1e+12     -0.511      0.609   -2.72e+12    1.59e+12
C(country)[T.burkina_faso]    -11.2277      1.158     -9.693      0.000     -13.498      -8.957
C(country)[T.burundi]         -16.3497      1.391    -11.754      0.000     -19.076     -13.623
C(country)[T.cambodia]         -0.0010      0.002     -0.511      0.609      -0.005       0.003
C(country)[T.comoros]         -14.0259      1.796     -7.807      0.000     -17.548     -10.504
C(country)[T.cote d'ivoire]   -10.8977      1.673     -6.512      0.000     -14.178      -7.617
C(country)[T.drc]             -15.7762      2.858     -5.520      0.000     -21.379     -10.174
C(country)[T.ecuador]         -10.6138      1.462     -7.261      0.000     -13.479      -7.748
C(country)[T.el_salvador]      -0.0006      0.001     -0.511      0.609      -0.003       0.002
C(country)[T.ethiopia]        -12.3857      1.180    -10.497      0.000     -14.699     -10.073
C(country)[T.ghana]           -12.8192      1.187    -10.799      0.000     -15.146     -10.492
C(country)[T.guatemala]      -8.26e-05      0.000     -0.511      0.609      -0.000       0.000
C(country)[T.honduras]         -0.0001      0.000     -0.511      0.609      -0.001       0.000
C(country)[T.india]           4.13e-05   8.08e-05      0.511      0.609      -0.000       0.000
C(country)[T.kenya]           -14.5593      1.221    -11.929      0.000     -16.952     -12.167
C(country)[T.malawi]        -3.718e-15   1.21e-15     -3.067      0.002   -6.09e-15   -1.34e-15
C(country)[T.mali]            -12.5297      1.205    -10.402      0.000     -14.891     -10.168
C(country)[T.morocco]          -4.6928      1.361     -3.448      0.001      -7.361      -2.025
C(country)[T.nepal]           -17.1665      3.391     -5.062      0.000     -23.814     -10.519
C(country)[T.nicaragua]     -7.743e-06   1.52e-05     -0.511      0.609   -3.74e-05     2.2e-05
C(country)[T.niger]           -15.1649      1.242    -12.207      0.000     -17.600     -12.730
C(country)[T.palestine]        -0.4048      2.660     -0.152      0.879      -5.619       4.810
C(country)[T.peru]             -0.0751      1.348     -0.056      0.956      -2.718       2.568
C(country)[T.rwanda]          -16.8868      1.355    -12.458      0.000     -19.544     -14.230
C(country)[T.senegal]         -14.7445      1.328    -11.099      0.000     -17.349     -12.140
C(country)[T.south africa]     -5.9498      1.680     -3.541      0.000      -9.244      -2.656

In [ ]:
# do this in the begining instead
new_test_df['country'] = new_test_df['country'].replace('Mali', 'mali')
merged_df['country'] = merged_df['country'].replace('Mali', 'mali')
test_df['country'] = test_df['country'].replace('Mali', 'mali')