In [2]:
import pandas as pd
import statsmodels.formula.api as smf

In [4]:
df = pd.read_csv('../data/full_survey_data.csv')

/var/folders/b3/glj_22g92pl25nkdvjvxnzz00000gn/T/ipykernel_3942/4096187165.py:1: DtypeWarning: Columns (10,11,12,15,16,17,18,19,20,21,22,24,27,37,40,41,42,43,44,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,69,74,75,76,78,88,91,94,95,104,113,114,115,116,118,121,122,123,124,125,132,135,137,138,141,142,151,160,161,162,163,165,168,169,170,171,172,179,182,184,185,188,189,198,207,208,209,210,212,215,216,217,218,219,226,229,231,232,236,245,254,255,256,257,259,262,263,264,265,266,273,276,278,279,283,292,301,302,303,304,306,309,310,312,313,320,325,326,330,339,348,349,350,351,353,356,357,359,360,367,372,373,377,386,395,396,397,398,400,403,404,406,407,414,419,420,424,433,443,444,445,446,447,448,450,451,452,453,454,455,456,458,459,460,461,462,463,464,465,466,467,469,470,471,472,473,474,475,476,478,479,480,481,482,500,501,502,508,510,515,516,522,524,525,526,533,538,547,556,561,565,566,567,574,580,581,582,591,600,603,607,608,609,616,620,624,633,680,681,682,687,688,694,696,697,698,705,710,719,728,733,738,739,746,752,754,763,772,775,779,780,781,788,792,796,805,814,829,849,850,852,854,859,860,866,868,869,870,877,882,891,900,905,910,911,918,924,926,935,944,947,952,953,960,964,968,977,987,989,991,998,1003,1012,1021,1022,1024,1026,1031,1032,1040,1041,1042,1063,1072,1073,1074,1076,1077,1079,1080,1082,1085,1087,1089,1090,1092,1094,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1119,1124,1125,1132,1136,1140,1149,1159,1161,1184,1193,1194,1196,1197,1198,1203,1204,1224,1288,1291,1296,1297,1304,1308,1312,1321,1331,1333,1347,1365,1366,1367,1369,1370,1371,1373,1377,1379,1380,1383,1384,1385,1387,1389,1390,1393,1396,1398,1399,1400,1401,1404,1405,1406,1407,1408,1409,1410,1412,1413,1414,1415,1416,1417,1422,1423,1424,1425,1426,1431,1432,1433,1434,1435,1440,1444,1445,1446,1447,1448,1449,1452,1453,1458,1461,1462,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1592,1593,1594,1595,1597) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/full_survey_data.csv')

In [5]:


# Create a list for all crop_name and crop_residue_use columns
crop_cols = [f"crop_name_{i}" for i in range(1, 9)]
residue_cols = [f"crop_residue_use_{i}" for i in range(1, 9)]

# Create a list of tuples for each crop's pair of name and residue
records = []
for i in range(1, 9):
    temp_df = df[['id_unique', f'crop_name_{i}', f'crop_residue_use_{i}',f'crop_harvest_kg_per_year_{i}']].copy()
    temp_df.columns = ['id_unique', 'crop_name', 'crop_residue_use','crop_harvest_kg_per_year']
    temp_df['crop_number'] = i
    records.append(temp_df)

# Concatenate all together
long_df = pd.concat(records, ignore_index=True)

# Drop rows where crop_name is NaN
#long_df = long_df.dropna(subset=['crop_name'])

#sort
long_df = long_df.sort_values(['id_unique', 'crop_number']).reset_index(drop=True)
long_df

,id_unique,crop_name,crop_residue_use,crop_harvest_kg_per_year,crop_number
0,bf_adn_2019_10_1,millet,soil feed,1200.0,1
1,bf_adn_2019_10_1,groundnut,soil feed,NaN,2
2,bf_adn_2019_10_1,sesame,soil feed,100.0,3
3,bf_adn_2019_10_1,NaN,NaN,NaN,4
4,bf_adn_2019_10_1,NaN,NaN,NaN,5
...,...,...,...,...,...
438979,zm_scn_2017_9_1,NaN,NaN,NaN,4
438980,zm_scn_2017_9_1,NaN,NaN,NaN,5
438981,zm_scn_2017_9_1,NaN,NaN,NaN,6
438982,zm_scn_2017_9_1,NaN,NaN,NaN,7
438983,zm_scn_2017_9_1,NaN,NaN,NaN,8

In [6]:
final_crop_df = long_df[(long_df.crop_name.notna()) & (long_df.crop_residue_use.notna())]
final_crop_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 95962 entries, 0 to 438976
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id_unique                 95962 non-null  object
 1   crop_name                 95962 non-null  object
 2   crop_residue_use          95962 non-null  object
 3   crop_harvest_kg_per_year  92536 non-null  float64
 4   crop_number               95962 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.4+ MB

In [7]:
final_crop_df['burn_crop'] = final_crop_df['crop_residue_use'].str.contains('burn', case=False, na=False).astype(int)

/var/folders/b3/glj_22g92pl25nkdvjvxnzz00000gn/T/ipykernel_3942/2510554493.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_crop_df['burn_crop'] = final_crop_df['crop_residue_use'].str.contains('burn', case=False, na=False).astype(int)

In [10]:
final_crop_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 95962 entries, 0 to 438976
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id_unique                 95962 non-null  object
 1   crop_name                 95962 non-null  object
 2   crop_residue_use          95962 non-null  object
 3   crop_harvest_kg_per_year  92536 non-null  float64
 4   crop_number               95962 non-null  int64
 5   burn_crop                 95962 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 5.1+ MB

In [9]:
# Step 1: Select relevant columns
name_cols = [f'livestock_name_{i}' for i in range(1, 6)]
died_cols = [f'livestock_died_{i}' for i in range(1, 6)]

# Step 2: Melt the livestock names and deaths
names_long = df.melt(id_vars='id_unique', value_vars=name_cols, 
                     var_name='animal_slot', value_name='livestock_name')

died_long = df.melt(id_vars='id_unique', value_vars=died_cols, 
                    var_name='animal_slot', value_name='livestock_died')

# Step 3: Make sure they align by extracting index number
names_long['slot'] = names_long['animal_slot'].str.extract(r'(\d+)').astype(int)
died_long['slot'] = died_long['animal_slot'].str.extract(r'(\d+)').astype(int)

# Step 4: Merge the two long DataFrames
long_df = pd.merge(
    names_long[['id_unique', 'slot', 'livestock_name']],
    died_long[['id_unique', 'slot', 'livestock_died']],
    on=['id_unique', 'slot']
)

# Optional: drop rows where animal name is missing
long_df = long_df.dropna(subset=['livestock_name']).reset_index(drop=True)

# Result: Each row is (id_unique, livestock_name, livestock_died)
print(long_df.head())

death_df = long_df[long_df.livestock_died.notna()]

         id_unique  slot livestock_name  livestock_died
0  bf_adn_2019_1_1     1          sheep             0.0
1  bf_adn_2019_2_1     1         cattle             0.0
2  bf_adn_2019_3_1     1           pigs             3.0
3  bf_adn_2019_4_1     1         cattle             0.0
4  bf_adn_2019_5_1     1         cattle             0.0

In [11]:
# List of animals to keep
animals_to_keep = ['cattle', 'chicken', 'goats', 'sheep', 'donkeys_horses', 'buffalo', 'pigs']

# Filter the DataFrame
final_death_df = death_df[death_df['livestock_name'].isin(animals_to_keep)]
final_death_df

               id_unique  slot  livestock_name  livestock_died
0        bf_adn_2019_1_1     1           sheep             0.0
1        bf_adn_2019_2_1     1          cattle             0.0
2        bf_adn_2019_3_1     1            pigs             3.0
3        bf_adn_2019_4_1     1          cattle             0.0
4        bf_adn_2019_5_1     1          cattle             0.0
...                  ...   ...             ...             ...
81610  tz_glv_2017_156_1     5  donkeys_horses             0.0
81614  tz_glv_2017_522_1     5            pigs             0.0
81615  tz_glv_2017_562_1     5  donkeys_horses             0.0
81616  tz_glv_2017_889_1     5         chicken             3.0
81618  tz_glv_2017_904_1     5         chicken            50.0

[59788 rows x 4 columns]

In [12]:
# Sum livestock deaths per farm
deaths_by_farm = (
    final_death_df.groupby("id_unique")["livestock_died"]
    .sum()
    .reset_index(name="total_livestock_died")
)

deaths_by_farm.head()

          id_unique  total_livestock_died
0  bf_adn_2019_10_1                   3.0
1  bf_adn_2019_11_1                   5.0
2  bf_adn_2019_12_1                   1.0
3  bf_adn_2019_13_1                   3.0
4  bf_adn_2019_14_1                   7.0

In [13]:
from scipy.stats.mstats import winsorize

# Extract the data column
values = deaths_by_farm["total_livestock_died"].values

# Winsorize only the top 5%
winsorized_values = winsorize(values, limits=(0, 0.05))

In [14]:
# Create a new column with the winsorized values
deaths_by_farm["winsorized_deaths"] = winsorized_values

In [15]:
# Group by farm and take max of burn_crop (since 1 means burning occurred)
burning_by_farm = (
    final_crop_df.groupby("id_unique")["burn_crop"]
    .max()
    .reset_index(name="any_burning")
)

burning_by_farm.head()

          id_unique  any_burning
0  bf_adn_2019_10_1            0
1  bf_adn_2019_11_1            0
2  bf_adn_2019_12_1            0
3  bf_adn_2019_13_1            0
4  bf_adn_2019_14_1            0

In [16]:
merged_farm_df = pd.merge(burning_by_farm, deaths_by_farm, on="id_unique", how="inner")

In [17]:
merged_farm_df

              id_unique  any_burning  total_livestock_died  winsorized_deaths
0      bf_adn_2019_10_1            0                   3.0                3.0
1      bf_adn_2019_11_1            0                   5.0                5.0
2      bf_adn_2019_12_1            0                   1.0                1.0
3      bf_adn_2019_13_1            0                   3.0                3.0
4      bf_adn_2019_14_1            0                   7.0                7.0
...                 ...          ...                   ...                ...
31360  zm_scn_2017_95_1            0                   0.0                0.0
31361  zm_scn_2017_96_1            0                   1.0                1.0
31362  zm_scn_2017_98_1            0                   0.0                0.0
31363  zm_scn_2017_99_1            0                   1.0                1.0
31364   zm_scn_2017_9_1            0                   0.0                0.0

[31365 rows x 4 columns]

In [18]:
merged_farm_df.describe()

        any_burning  total_livestock_died  winsorized_deaths
count  31365.000000          3.136500e+04       31365.000000
mean       0.146246          1.392799e+02           2.946628
std        0.353358          2.259231e+04           5.293842
min        0.000000          0.000000e+00           0.000000
25%        0.000000          0.000000e+00           0.000000
50%        0.000000          0.000000e+00           0.000000
75%        0.000000          3.000000e+00           3.000000
max        1.000000          4.000000e+06          20.000000

In [19]:
# Crop count
merged_farm_df = merged_farm_df.merge(
    df[["id_unique", "crop_count"]],
    on="id_unique",
    how="left"
)

# Harvest early
merged_farm_df = merged_farm_df.merge(
    df[["id_unique", "harvest_early"]],
    on="id_unique",
    how="left"
)

# Food shortage time
merged_farm_df = merged_farm_df.merge(
    df[["id_unique", "foodshortagetime"]],
    on="id_unique",
    how="left"
)

# Debts have
merged_farm_df = merged_farm_df.merge(
    df[["id_unique", "debts_have"]],
    on="id_unique",
    how="left"
)

# Count people
merged_farm_df = merged_farm_df.merge(
    df[["id_unique", "count_people"]],
    on="id_unique",
    how="left"
)

In [20]:
for col in ["harvest_early", "foodshortagetime", "debts_have"]:
    merged_farm_df[col] = merged_farm_df[col].map({"y": 1, "n": 0})
merged_farm_df

,id_unique,any_burning,total_livestock_died,winsorized_deaths,crop_count,harvest_early,foodshortagetime,debts_have,count_people
0,bf_adn_2019_10_1,0,3.0,3.0,3.0,1.0,1.0,0.0,9.0
1,bf_adn_2019_11_1,0,5.0,5.0,3.0,0.0,1.0,0.0,8.0
2,bf_adn_2019_12_1,0,1.0,1.0,3.0,0.0,1.0,0.0,6.0
3,bf_adn_2019_13_1,0,3.0,3.0,3.0,1.0,1.0,0.0,6.0
4,bf_adn_2019_14_1,0,7.0,7.0,3.0,0.0,1.0,0.0,12.0
...,...,...,...,...,...,...,...,...,...
31360,zm_scn_2017_95_1,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN
31361,zm_scn_2017_96_1,0,1.0,1.0,3.0,0.0,1.0,1.0,NaN
31362,zm_scn_2017_98_1,0,0.0,0.0,1.0,0.0,1.0,1.0,NaN
31363,zm_scn_2017_99_1,0,1.0,1.0,1.0,0.0,1.0,1.0,NaN
31364,zm_scn_2017_9_1,0,0.0,0.0,1.0,0.0,1.0,1.0,NaN

In [21]:
merged_farm_df = pd.merge(
    merged_farm_df,
    df[["id_unique", "country", "year"]],
    on="id_unique",
    how="left"
)

merged_farm_df

,id_unique,any_burning,total_livestock_died,winsorized_deaths,crop_count,harvest_early,foodshortagetime,debts_have,count_people,country,year
0,bf_adn_2019_10_1,0,3.0,3.0,3.0,1.0,1.0,0.0,9.0,burkina_faso,2019
1,bf_adn_2019_11_1,0,5.0,5.0,3.0,0.0,1.0,0.0,8.0,burkina_faso,2019
2,bf_adn_2019_12_1,0,1.0,1.0,3.0,0.0,1.0,0.0,6.0,burkina_faso,2019
3,bf_adn_2019_13_1,0,3.0,3.0,3.0,1.0,1.0,0.0,6.0,burkina_faso,2019
4,bf_adn_2019_14_1,0,7.0,7.0,3.0,0.0,1.0,0.0,12.0,burkina_faso,2019
...,...,...,...,...,...,...,...,...,...,...,...
31360,zm_scn_2017_95_1,0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,zambia,2017
31361,zm_scn_2017_96_1,0,1.0,1.0,3.0,0.0,1.0,1.0,NaN,zambia,2017
31362,zm_scn_2017_98_1,0,0.0,0.0,1.0,0.0,1.0,1.0,NaN,zambia,2017
31363,zm_scn_2017_99_1,0,1.0,1.0,1.0,0.0,1.0,1.0,NaN,zambia,2017
31364,zm_scn_2017_9_1,0,0.0,0.0,1.0,0.0,1.0,1.0,NaN,zambia,2017

In [22]:
print("\n--- Base Model ---")
model = smf.ols(
    formula="any_burning ~ winsorized_deaths + C(year) + C(country)",
    data=merged_farm_df
).fit()
print(model.summary())

--- Base Model ---
                            OLS Regression Results
==============================================================================
Dep. Variable:            any_burning   R-squared:                       0.183
Model:                            OLS   Adj. R-squared:                  0.182
Method:                 Least Squares   F-statistic:                     184.1
Date:                Fri, 15 Aug 2025   Prob (F-statistic):               0.00
Time:                        09:32:31   Log-Likelihood:                -8715.9
No. Observations:               31365   AIC:                         1.751e+04
Df Residuals:                   31326   BIC:                         1.784e+04
Df Model:                          38
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                       0.1074      0.057      1.900      0.057      -0.003       0.218
C(year)[T.2017]                 0.0092      0.054      0.170      0.865      -0.097       0.115
C(year)[T.2018]                 0.0027      0.054      0.051      0.960      -0.103       0.108
C(year)[T.2019]                 0.0060      0.054      0.112      0.911      -0.100       0.112
C(year)[T.2020]                 0.0280      0.054      0.518      0.605      -0.078       0.134
C(year)[T.2021]                -0.0307      0.054     -0.570      0.569      -0.136       0.075
C(year)[T.2022]                 0.0100      0.053      0.188      0.851      -0.094       0.114
C(year)[T.2023]                 0.5379      0.061      8.798      0.000       0.418       0.658
C(country)[T.bolivia]          -0.1204      0.043     -2.772      0.006      -0.206      -0.035
C(country)[T.burkina_faso]     -0.0038      0.021     -0.186      0.853      -0.044       0.037
C(country)[T.burundi]           0.0850      0.021      4.117      0.000       0.045       0.125
C(country)[T.cambodia]          0.1383      0.027      5.153      0.000       0.086       0.191
C(country)[T.comoros]          -0.0940      0.027     -3.442      0.001      -0.148      -0.040
C(country)[T.cote d'ivoire]     0.2200      0.034      6.432      0.000       0.153       0.287
C(country)[T.drc]              -0.0119      0.023     -0.521      0.602      -0.056       0.033
C(country)[T.ecuador]          -0.0942      0.037     -2.528      0.011      -0.167      -0.021
C(country)[T.el_salvador]      -0.0265      0.108     -0.245      0.806      -0.239       0.186
C(country)[T.ethiopia]         -0.0924      0.020     -4.652      0.000      -0.131      -0.053
C(country)[T.ghana]             0.0494      0.022      2.283      0.022       0.007       0.092
C(country)[T.guatemala]        -0.1002      0.049     -2.027      0.043      -0.197      -0.003
C(country)[T.honduras]         -0.0673      0.090     -0.749      0.454      -0.243       0.109
C(country)[T.india]            -0.0720      0.025     -2.844      0.004      -0.122      -0.022
C(country)[T.kenya]            -0.0603      0.021     -2.941      0.003      -0.101      -0.020
C(country)[T.malawi]            0.1640      0.028      5.962      0.000       0.110       0.218
C(country)[T.mali]              0.0090      0.021      0.425      0.671      -0.033       0.051
C(country)[T.morocco]          -0.1127      0.037     -3.086      0.002      -0.184      -0.041
C(country)[T.nepal]             0.1979      0.026      7.553      0.000       0.147       0.249
C(country)[T.nicaragua]        -0.0716      0.031     -2.302      0.021      -0.133      -0.011
C(country)[T.niger]            -0.0719      0.021     -3.419      0.001      -0.113      -0.031
C(country)[T.palestine]         0.2584      0.115      2.249      0.025       0.033       0.484
C(country)[T.peru]              0.0787      0.036      2.179      0.029       0.008       0.149
C(country)[T.rwanda]            0.4527      0.022     20.821      0.000       0.410       0.495
C(country)[T.senegal]           0.0238      0.032      0.734      0.463      -0.040       0.087
C(country)[T.south africa]     -0.1131      0.043     -2.637      0.008      -0.197      -0.029
C(country)[T.tanzania]         -0.0084      0.021     -0.393      0.694      -0.050       0.034
C(country)[T.uganda]            0.1034      0.023      4.529      0.000       0.059       0.148
C(country)[T.vietnam]           0.3299      0.023     14.483      0.000       0.285       0.375
C(country)[T.zambia]            0.0190      0.023      0.827      0.408      -0.026       0.064
winsorized_deaths               0.0019      0.000      5.149      0.000       0.001       0.003
==============================================================================
Omnibus:                     8745.703   Durbin-Watson:                   1.435
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            20287.985
Skew:                           1.591   Prob(JB):                         0.00
Kurtosis:                       5.324   Cond. No.                         607.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [24]:
# crop_count
print("\n--- Add crop_count ---")
model = smf.ols(
    formula="any_burning ~ winsorized_deaths + C(year) + C(country) + crop_count",
    data=merged_farm_df
).fit()
print(model.summary())

--- Add crop_count ---
                            OLS Regression Results
==============================================================================
Dep. Variable:            any_burning   R-squared:                       0.191
Model:                            OLS   Adj. R-squared:                  0.190
Method:                 Least Squares   F-statistic:                     189.2
Date:                Fri, 15 Aug 2025   Prob (F-statistic):               0.00
Time:                        09:34:49   Log-Likelihood:                -8559.9
No. Observations:               31365   AIC:                         1.720e+04
Df Residuals:                   31325   BIC:                         1.753e+04
Df Model:                          39
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                       0.0434      0.056      0.770      0.441      -0.067       0.154
C(year)[T.2017]                 0.0271      0.054      0.503      0.615      -0.079       0.133
C(year)[T.2018]                 0.0170      0.054      0.317      0.751      -0.088       0.122
C(year)[T.2019]                 0.0267      0.054      0.498      0.618      -0.078       0.132
C(year)[T.2020]                 0.0370      0.054      0.689      0.491      -0.068       0.142
C(year)[T.2021]                -0.0219      0.054     -0.407      0.684      -0.127       0.083
C(year)[T.2022]                 0.0061      0.053      0.116      0.908      -0.098       0.110
C(year)[T.2023]                 0.5458      0.061      8.972      0.000       0.427       0.665
C(country)[T.bolivia]          -0.1841      0.043     -4.245      0.000      -0.269      -0.099
C(country)[T.burkina_faso]     -0.0087      0.021     -0.426      0.670      -0.049       0.031
C(country)[T.burundi]           0.0578      0.021      2.806      0.005       0.017       0.098
C(country)[T.cambodia]          0.1419      0.027      5.314      0.000       0.090       0.194
C(country)[T.comoros]          -0.1175      0.027     -4.319      0.000      -0.171      -0.064
C(country)[T.cote d'ivoire]     0.2064      0.034      6.062      0.000       0.140       0.273
C(country)[T.drc]              -0.0364      0.023     -1.603      0.109      -0.081       0.008
C(country)[T.ecuador]          -0.1092      0.037     -2.945      0.003      -0.182      -0.036
C(country)[T.el_salvador]      -0.0198      0.108     -0.184      0.854      -0.231       0.191
C(country)[T.ethiopia]         -0.1005      0.020     -5.081      0.000      -0.139      -0.062
C(country)[T.ghana]             0.0113      0.022      0.523      0.601      -0.031       0.054
C(country)[T.guatemala]        -0.0911      0.049     -1.854      0.064      -0.187       0.005
C(country)[T.honduras]         -0.0605      0.089     -0.677      0.498      -0.236       0.115
C(country)[T.india]            -0.0838      0.025     -3.326      0.001      -0.133      -0.034
C(country)[T.kenya]            -0.0739      0.020     -3.619      0.000      -0.114      -0.034
C(country)[T.malawi]            0.1632      0.027      5.962      0.000       0.110       0.217
C(country)[T.mali]             -0.0244      0.021     -1.151      0.250      -0.066       0.017
C(country)[T.morocco]          -0.1511      0.036     -4.152      0.000      -0.222      -0.080
C(country)[T.nepal]             0.1968      0.026      7.548      0.000       0.146       0.248
C(country)[T.nicaragua]        -0.0878      0.031     -2.836      0.005      -0.149      -0.027
C(country)[T.niger]            -0.0682      0.021     -3.258      0.001      -0.109      -0.027
C(country)[T.palestine]         0.2738      0.114      2.395      0.017       0.050       0.498
C(country)[T.peru]             -0.0344      0.037     -0.942      0.346      -0.106       0.037
C(country)[T.rwanda]            0.4158      0.022     19.129      0.000       0.373       0.458
C(country)[T.senegal]          -0.0161      0.032     -0.498      0.618      -0.080       0.047
C(country)[T.south africa]     -0.1115      0.043     -2.613      0.009      -0.195      -0.028
C(country)[T.tanzania]         -0.0194      0.021     -0.908      0.364      -0.061       0.022
C(country)[T.uganda]            0.0457      0.023      1.990      0.047       0.001       0.091
C(country)[T.vietnam]           0.3177      0.023     14.009      0.000       0.273       0.362
C(country)[T.zambia]            0.0130      0.023      0.570      0.569      -0.032       0.058
winsorized_deaths               0.0013      0.000      3.644      0.000       0.001       0.002
crop_count                      0.0290      0.002     17.698      0.000       0.026       0.032
==============================================================================
Omnibus:                     8569.321   Durbin-Watson:                   1.428
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            19552.192
Skew:                           1.567   Prob(JB):                         0.00
Kurtosis:                       5.266   Cond. No.                         624.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [25]:
# harvest_early
print("\n--- Add harvest_early ---")
model = smf.ols(
    formula="any_burning ~ winsorized_deaths + C(year) + C(country) + harvest_early",
    data=merged_farm_df
).fit()
print(model.summary())

--- Add harvest_early ---
                            OLS Regression Results
==============================================================================
Dep. Variable:            any_burning   R-squared:                       0.210
Model:                            OLS   Adj. R-squared:                  0.209
Method:                 Least Squares   F-statistic:                     196.2
Date:                Fri, 15 Aug 2025   Prob (F-statistic):               0.00
Time:                        09:35:16   Log-Likelihood:                -7825.4
No. Observations:               28092   AIC:                         1.573e+04
Df Residuals:                   28053   BIC:                         1.605e+04
Df Model:                          38
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                       0.1161      0.057      2.049      0.040       0.005       0.227
C(year)[T.2017]                 0.0019      0.054      0.035      0.972      -0.105       0.109
C(year)[T.2018]                -0.0258      0.054     -0.477      0.634      -0.132       0.080
C(year)[T.2019]                -0.0235      0.054     -0.436      0.663      -0.129       0.082
C(year)[T.2020]                 0.0387      0.054      0.714      0.475      -0.067       0.145
C(year)[T.2021]                -0.0465      0.054     -0.861      0.389      -0.152       0.059
C(year)[T.2022]                 0.0074      0.053      0.138      0.890      -0.097       0.112
C(year)[T.2023]                 0.5313      0.061      8.678      0.000       0.411       0.651
C(country)[T.bolivia]          -0.0935      0.044     -2.146      0.032      -0.179      -0.008
C(country)[T.burkina_faso]      0.0100      0.021      0.478      0.633      -0.031       0.051
C(country)[T.burundi]           0.1467      0.021      6.871      0.000       0.105       0.189
C(country)[T.cambodia]          0.1538      0.027      5.698      0.000       0.101       0.207
C(country)[T.comoros]          -0.0755      0.027     -2.754      0.006      -0.129      -0.022
C(country)[T.cote d'ivoire]     0.2402      0.034      6.974      0.000       0.173       0.308
C(country)[T.drc]             1.11e-05      0.023      0.000      1.000      -0.045       0.045
C(country)[T.ecuador]          -0.0704      0.037     -1.884      0.060      -0.144       0.003
C(country)[T.el_salvador]      -0.0345      0.108     -0.319      0.750      -0.247       0.178
C(country)[T.ethiopia]         -0.0947      0.020     -4.748      0.000      -0.134      -0.056
C(country)[T.ghana]             0.0586      0.022      2.611      0.009       0.015       0.103
C(country)[T.guatemala]        -0.1064      0.049     -2.151      0.031      -0.203      -0.009
C(country)[T.honduras]         -0.0759      0.090     -0.844      0.399      -0.252       0.100
C(country)[T.india]            -0.0387      0.025     -1.519      0.129      -0.089       0.011
C(country)[T.kenya]            -0.0539      0.021     -2.619      0.009      -0.094      -0.014
C(country)[T.malawi]            0.1877      0.028      6.784      0.000       0.133       0.242
C(country)[T.mali]              0.0139      0.021      0.651      0.515      -0.028       0.056
C(country)[T.morocco]          -0.1033      0.037     -2.817      0.005      -0.175      -0.031
C(country)[T.nepal]             0.1973      0.026      7.501      0.000       0.146       0.249
C(country)[T.nicaragua]        -0.0496      0.031     -1.583      0.114      -0.111       0.012
C(country)[T.niger]            -0.0602      0.021     -2.832      0.005      -0.102      -0.019
C(country)[T.palestine]         0.2771      0.115      2.409      0.016       0.052       0.503
C(country)[T.peru]           -1.13e-16   2.83e-17     -3.997      0.000   -1.68e-16   -5.76e-17
C(country)[T.rwanda]            0.4759      0.022     21.637      0.000       0.433       0.519
C(country)[T.senegal]           0.0496      0.033      1.519      0.129      -0.014       0.113
C(country)[T.south africa]     -0.1312      0.043     -3.053      0.002      -0.215      -0.047
C(country)[T.tanzania]          0.0753      0.024      3.077      0.002       0.027       0.123
C(country)[T.uganda]            0.3398      0.025     13.392      0.000       0.290       0.390
C(country)[T.vietnam]           0.3153      0.023     13.711      0.000       0.270       0.360
C(country)[T.zambia]            0.0314      0.023      1.354      0.176      -0.014       0.077
winsorized_deaths               0.0021      0.000      5.476      0.000       0.001       0.003
harvest_early                  -0.0137      0.005     -2.995      0.003      -0.023      -0.005
==============================================================================
Omnibus:                     6902.431   Durbin-Watson:                   1.468
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            14782.248
Skew:                           1.438   Prob(JB):                         0.00
Kurtosis:                       5.087   Cond. No.                     1.17e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.15e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [27]:
print("\n--- Add foodshortagetime ---")
model = smf.ols(
    formula="any_burning ~ winsorized_deaths + C(year) + C(country) + foodshortagetime",
    data=merged_farm_df
).fit()
print(model.summary())

--- Add foodshortagetime ---
                            OLS Regression Results
==============================================================================
Dep. Variable:            any_burning   R-squared:                       0.183
Model:                            OLS   Adj. R-squared:                  0.182
Method:                 Least Squares   F-statistic:                     179.5
Date:                Fri, 15 Aug 2025   Prob (F-statistic):               0.00
Time:                        09:37:47   Log-Likelihood:                -8711.9
No. Observations:               31345   AIC:                         1.750e+04
Df Residuals:                   31305   BIC:                         1.784e+04
Df Model:                          39
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                       0.0905      0.057      1.591      0.112      -0.021       0.202
C(year)[T.2017]                 0.0128      0.054      0.236      0.814      -0.093       0.119
C(year)[T.2018]                 0.0047      0.054      0.087      0.931      -0.101       0.110
C(year)[T.2019]                 0.0085      0.054      0.158      0.874      -0.097       0.114
C(year)[T.2020]                 0.0316      0.054      0.584      0.559      -0.074       0.138
C(year)[T.2021]                -0.0269      0.054     -0.498      0.618      -0.133       0.079
C(year)[T.2022]                 0.0156      0.053      0.293      0.770      -0.089       0.120
C(year)[T.2023]                 0.5452      0.061      8.908      0.000       0.425       0.665
C(country)[T.bolivia]          -0.1148      0.043     -2.640      0.008      -0.200      -0.030
C(country)[T.burkina_faso]      0.0008      0.021      0.041      0.967      -0.040       0.041
C(country)[T.burundi]           0.0869      0.021      4.208      0.000       0.046       0.127
C(country)[T.cambodia]          0.1474      0.027      5.442      0.000       0.094       0.200
C(country)[T.comoros]          -0.0910      0.027     -3.328      0.001      -0.145      -0.037
C(country)[T.cote d'ivoire]     0.2256      0.034      6.580      0.000       0.158       0.293
C(country)[T.drc]              -0.0092      0.023     -0.403      0.687      -0.054       0.035
C(country)[T.ecuador]          -0.0827      0.038     -2.203      0.028      -0.156      -0.009
C(country)[T.el_salvador]      -0.0145      0.108     -0.134      0.893      -0.227       0.198
C(country)[T.ethiopia]         -0.0852      0.020     -4.248      0.000      -0.125      -0.046
C(country)[T.ghana]             0.0539      0.022      2.482      0.013       0.011       0.096
C(country)[T.guatemala]        -0.0922      0.050     -1.863      0.062      -0.189       0.005
C(country)[T.honduras]         -0.0582      0.090     -0.648      0.517      -0.234       0.118
C(country)[T.india]            -0.0578      0.026     -2.228      0.026      -0.109      -0.007
C(country)[T.kenya]            -0.0554      0.021     -2.688      0.007      -0.096      -0.015
C(country)[T.malawi]            0.1682      0.028      6.103      0.000       0.114       0.222
C(country)[T.mali]              0.0131      0.021      0.615      0.539      -0.029       0.055
C(country)[T.morocco]          -0.1020      0.037     -2.776      0.006      -0.174      -0.030
C(country)[T.nepal]             0.2080      0.026      7.864      0.000       0.156       0.260
C(country)[T.nicaragua]        -0.0665      0.031     -2.134      0.033      -0.128      -0.005
C(country)[T.niger]            -0.0687      0.021     -3.258      0.001      -0.110      -0.027
C(country)[T.palestine]         0.2704      0.115      2.351      0.019       0.045       0.496
C(country)[T.peru]              0.0876      0.036      2.414      0.016       0.016       0.159
C(country)[T.rwanda]            0.4567      0.022     20.947      0.000       0.414       0.499
C(country)[T.senegal]           0.0281      0.033      0.865      0.387      -0.036       0.092
C(country)[T.south africa]     -0.1084      0.043     -2.525      0.012      -0.193      -0.024
C(country)[T.tanzania]          0.0012      0.022      0.055      0.957      -0.041       0.044
C(country)[T.uganda]            0.1108      0.023      4.820      0.000       0.066       0.156
C(country)[T.vietnam]           0.3390      0.023     14.700      0.000       0.294       0.384
C(country)[T.zambia]            0.0237      0.023      1.029      0.304      -0.021       0.069
winsorized_deaths               0.0019      0.000      5.171      0.000       0.001       0.003
foodshortagetime                0.0116      0.005      2.577      0.010       0.003       0.020
==============================================================================
Omnibus:                     8729.977   Durbin-Watson:                   1.437
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            20232.658
Skew:                           1.590   Prob(JB):                         0.00
Kurtosis:                       5.321   Cond. No.                         609.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [29]:
print("\n--- Add debts_have ---")
model = smf.ols(
    formula="any_burning ~ winsorized_deaths + C(year) + C(country) + debts_have",
    data=merged_farm_df
).fit()
print(model.summary())

--- Add debts_have ---
                            OLS Regression Results
==============================================================================
Dep. Variable:            any_burning   R-squared:                       0.099
Model:                            OLS   Adj. R-squared:                  0.097
Method:                 Least Squares   F-statistic:                     77.73
Date:                Fri, 15 Aug 2025   Prob (F-statistic):               0.00
Time:                        09:38:28   Log-Likelihood:                -6461.5
No. Observations:               24900   AIC:                         1.299e+04
Df Residuals:                   24864   BIC:                         1.329e+04
Df Model:                          35
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                       0.1059      0.056      1.906      0.057      -0.003       0.215
C(year)[T.2017]                -0.0329      0.054     -0.612      0.540      -0.138       0.072
C(year)[T.2018]                -0.0406      0.053     -0.763      0.445      -0.145       0.064
C(year)[T.2019]                -0.0372      0.053     -0.699      0.484      -0.141       0.067
C(year)[T.2020]                 0.0097      0.054      0.180      0.857      -0.095       0.115
C(year)[T.2021]                -0.0716      0.053     -1.346      0.178      -0.176       0.033
C(year)[T.2022]                 0.0118      0.052      0.226      0.821      -0.091       0.114
C(year)[T.2023]             -2.002e-17   1.37e-16     -0.147      0.883   -2.88e-16    2.48e-16
C(country)[T.bolivia]       -6.317e-16   3.19e-16     -1.979      0.048   -1.26e-15   -5.97e-18
C(country)[T.burkina_faso]      0.0336      0.021      1.615      0.106      -0.007       0.074
C(country)[T.burundi]           0.1032      0.020      5.066      0.000       0.063       0.143
C(country)[T.cambodia]          0.1750      0.027      6.520      0.000       0.122       0.228
C(country)[T.comoros]          -0.0489      0.027     -1.791      0.073      -0.103       0.005
C(country)[T.cote d'ivoire]  1.231e-16   9.07e-17      1.358      0.174   -5.46e-17    3.01e-16
C(country)[T.drc]               0.0329      0.023      1.412      0.158      -0.013       0.079
C(country)[T.ecuador]          -0.0758      0.077     -0.986      0.324      -0.226       0.075
C(country)[T.el_salvador]      -0.0261      0.106     -0.246      0.806      -0.234       0.182
C(country)[T.ethiopia]         -0.0448      0.020     -2.190      0.029      -0.085      -0.005
C(country)[T.ghana]             0.0756      0.022      3.427      0.001       0.032       0.119
C(country)[T.guatemala]        -0.1016      0.049     -2.092      0.036      -0.197      -0.006
C(country)[T.honduras]         -0.0668      0.088     -0.758      0.448      -0.240       0.106
C(country)[T.india]            -0.0252      0.025     -0.995      0.320      -0.075       0.024
C(country)[T.kenya]             0.0417      0.023      1.804      0.071      -0.004       0.087
C(country)[T.malawi]            0.2078      0.028      7.532      0.000       0.154       0.262
C(country)[T.mali]              0.0474      0.021      2.203      0.028       0.005       0.089
C(country)[T.morocco]          -0.0789      0.036     -2.170      0.030      -0.150      -0.008
C(country)[T.nepal]             0.1982      0.027      7.213      0.000       0.144       0.252
C(country)[T.nicaragua]        -0.0269      0.031     -0.870      0.384      -0.088       0.034
C(country)[T.niger]            -0.0308      0.021     -1.448      0.148      -0.072       0.011
C(country)[T.palestine]         0.3030      0.113      2.684      0.007       0.082       0.524
C(country)[T.peru]              0.1235      0.036      3.443      0.001       0.053       0.194
C(country)[T.rwanda]         3.843e-16   1.51e-16      2.546      0.011    8.85e-17     6.8e-16
C(country)[T.senegal]           0.0695      0.032      2.154      0.031       0.006       0.133
C(country)[T.south africa]     -0.0940      0.043     -2.195      0.028      -0.178      -0.010
C(country)[T.tanzania]          0.0411      0.022      1.837      0.066      -0.003       0.085
C(country)[T.uganda]            0.1244      0.024      5.288      0.000       0.078       0.171
C(country)[T.vietnam]           0.3513      0.023     14.961      0.000       0.305       0.397
C(country)[T.zambia]            0.0613      0.023      2.632      0.008       0.016       0.107
winsorized_deaths               0.0027      0.000      6.867      0.000       0.002       0.003
debts_have                     -0.0036      0.004     -0.817      0.414      -0.012       0.005
==============================================================================
Omnibus:                     9091.627   Durbin-Watson:                   1.393
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            25900.608
Skew:                           1.998   Prob(JB):                         0.00
Kurtosis:                       5.999   Cond. No.                     1.18e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.01e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [31]:
print("\n--- Add count_people ---")
model = smf.ols(
    formula="any_burning ~ winsorized_deaths + C(year) + C(country) + count_people",
    data=merged_farm_df
).fit()
print(model.summary())

--- Add count_people ---
                            OLS Regression Results
==============================================================================
Dep. Variable:            any_burning   R-squared:                       0.153
Model:                            OLS   Adj. R-squared:                  0.152
Method:                 Least Squares   F-statistic:                     143.3
Date:                Fri, 15 Aug 2025   Prob (F-statistic):               0.00
Time:                        09:39:00   Log-Likelihood:                -2868.4
No. Observations:               17486   AIC:                             5783.
Df Residuals:                   17463   BIC:                             5962.
Df Model:                          22
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                    1.508e+08   3.14e+10      0.005      0.996   -6.14e+10    6.17e+10
C(year)[T.2017]             -5.464e+04   9.71e+06     -0.006      0.996   -1.91e+07     1.9e+07
C(year)[T.2018]             -2.401e+08   1.36e+10     -0.018      0.986   -2.69e+10    2.64e+10
C(year)[T.2019]             -2.401e+08   1.36e+10     -0.018      0.986   -2.69e+10    2.64e+10
C(year)[T.2020]             -2.401e+08   1.36e+10     -0.018      0.986   -2.69e+10    2.64e+10
C(year)[T.2021]             -2.401e+08   1.36e+10     -0.018      0.986   -2.69e+10    2.64e+10
C(year)[T.2022]             -2.401e+08   1.36e+10     -0.018      0.986   -2.69e+10    2.64e+10
C(year)[T.2023]             -1.878e+05   3.34e+07     -0.006      0.996   -6.56e+07    6.53e+07
C(country)[T.bolivia]        2.813e+05      5e+07      0.006      0.996   -9.78e+07    9.83e+07
C(country)[T.burkina_faso]   8.934e+07   2.82e+10      0.003      0.997   -5.52e+10    5.53e+10
C(country)[T.burundi]        8.934e+07   2.82e+10      0.003      0.997   -5.52e+10    5.53e+10
C(country)[T.cambodia]       8.934e+07   2.82e+10      0.003      0.997   -5.52e+10    5.53e+10
C(country)[T.comoros]        8.934e+07   2.82e+10      0.003      0.997   -5.52e+10    5.53e+10
C(country)[T.cote d'ivoire]  1.338e+05   2.38e+07      0.006      0.996   -4.65e+07    4.68e+07
C(country)[T.drc]            8.934e+07   2.82e+10      0.003      0.997   -5.52e+10    5.53e+10
C(country)[T.ecuador]        8.934e+07   2.82e+10      0.003      0.997   -5.52e+10    5.53e+10
C(country)[T.el_salvador]     9.47e+04   1.68e+07      0.006      0.996   -3.29e+07    3.31e+07
C(country)[T.ethiopia]       8.934e+07   2.82e+10      0.003      0.997   -5.52e+10    5.53e+10
C(country)[T.ghana]          8.934e+07   2.82e+10      0.003      0.997   -5.52e+10    5.53e+10
C(country)[T.guatemala]      8.934e+07   2.82e+10      0.003      0.997   -5.52e+10    5.53e+10
C(country)[T.honduras]      -1.519e+04    2.7e+06     -0.006      0.996   -5.31e+06    5.28e+06
C(country)[T.india]         -1364.8811   2.43e+05     -0.006      0.996   -4.77e+05    4.74e+05
C(country)[T.kenya]          8.934e+07   2.82e+10      0.003      0.997   -5.52e+10    5.53e+10
C(country)[T.malawi]           -0.0004      0.070     -0.006      0.996      -0.138       0.137
C(country)[T.mali]           8.934e+07   2.82e+10      0.003      0.997   -5.52e+10    5.53e+10
C(country)[T.morocco]        8.934e+07   2.82e+10      0.003      0.997   -5.52e+10    5.53e+10
C(country)[T.nepal]                  0          0        nan        nan           0           0
C(country)[T.nicaragua]              0          0        nan        nan           0           0
C(country)[T.niger]          8.934e+07   2.82e+10      0.003      0.997   -5.52e+10    5.53e+10
C(country)[T.palestine]              0          0        nan        nan           0           0
C(country)[T.peru]                   0          0        nan        nan           0           0
C(country)[T.rwanda]                 0          0        nan        nan           0           0
C(country)[T.senegal]                0          0        nan        nan           0           0
C(country)[T.south africa]   8.934e+07   2.82e+10      0.003      0.997   -5.52e+10    5.53e+10
C(country)[T.tanzania]       8.934e+07   2.82e+10      0.003      0.997   -5.52e+10    5.53e+10
C(country)[T.uganda]         8.934e+07   2.82e+10      0.003      0.997   -5.52e+10    5.53e+10
C(country)[T.vietnam]        8.934e+07   2.82e+10      0.003      0.997   -5.52e+10    5.53e+10
C(country)[T.zambia]                 0          0        nan        nan           0           0
winsorized_deaths               0.0023      0.000      5.406      0.000       0.001       0.003
count_people                    0.0005      0.000      1.259      0.208      -0.000       0.001
==============================================================================
Omnibus:                     6879.674   Durbin-Watson:                   1.277
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            23901.791
Skew:                           2.037   Prob(JB):                         0.00
Kurtosis:                       7.025   Cond. No.                     1.24e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.28e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.